In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

# Data Frame

# Create Data Frame

In [2]:
#http://archive.ics.uci.edu/ml/datasets/Adult

In [2]:
import pandas as pd
import numpy as np

In [3]:
data= np.random.randn(5,3)

In [4]:
pd.DataFrame(data)

          0         1         2
0  0.874199 -2.085095 -0.631960
1 -0.642514 -0.370612  1.628281
2  0.836391  0.533991 -2.321407
3  2.999099 -0.252625 -0.418747
4  0.649065  1.736197  0.683287

In [26]:
pd.DataFrame(data, columns=['A','B','C'])

          A         B         C
0 -0.897424  0.383093  0.921498
1 -0.599790 -0.270294 -0.504089
2 -0.804723 -0.267430  0.198069
3  0.316647  0.182527 -0.449192
4 -0.534537 -1.469590  0.341584

In [ ]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]

In [30]:
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [32]:
type(df)

pandas.core.frame.DataFrame

# Data Frame attributes and methods

In [34]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [36]:
dfhead = df.head(2)

In [37]:
type(dfhead)

pandas.core.frame.DataFrame

In [38]:
df.tail()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [39]:
df.tail(3)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [40]:
df.index

RangeIndex(start=0, stop=32561, step=1)

In [41]:
df.values

array([[39, ' State-gov', 77516, ..., 40, ' United-States', ' <=50K'],
       [50, ' Self-emp-not-inc', 83311, ..., 13, ' United-States',
        ' <=50K'],
       [38, ' Private', 215646, ..., 40, ' United-States', ' <=50K'],
       ...,
       [58, ' Private', 151910, ..., 40, ' United-States', ' <=50K'],
       [22, ' Private', 201490, ..., 20, ' United-States', ' <=50K'],
       [52, ' Self-emp-inc', 287927, ..., 40, ' United-States', ' >50K']],
      dtype=object)

In [42]:
df.shape

(32561, 15)

In [43]:
df.size

488415

In [45]:
32561*15

488415

In [46]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'edu-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'cap-gain', 'cap-loss',
       'hour/week', 'country', 'salary'],
      dtype='object')

In [47]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
edu-num            int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
cap-gain           int64
cap-loss           int64
hour/week          int64
country           object
salary            object
dtype: object

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour/week         32561 non-null int64
country           32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [49]:
df.get_dtype_counts()

int64     6
object    9
dtype: int64

In [50]:
df.axes

[RangeIndex(start=0, stop=32561, step=1),
 Index(['age', 'workclass', 'fnlwgt', 'education', 'edu-num', 'marital-status',
        'occupation', 'relationship', 'race', 'sex', 'cap-gain', 'cap-loss',
        'hour/week', 'country', 'salary'],
       dtype='object')]

In [51]:
df.describe()

,age,fnlwgt,edu-num,cap-gain,cap-loss,hour/week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

# Add new column

In [31]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [9]:
df.head(2)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [10]:
df['Kind of species'] = 'Human being'

In [11]:
df.head(5)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,Kind of species
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Human being
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Human being
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Human being
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Human being
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Human being

In [12]:
df['age in months'] = df['age'] * 12

In [13]:
df.head(2)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,Kind of species,age in months
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Human being,468
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Human being,600

In [14]:
df.shape

(32561, 17)

# Select one or more column

In [16]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,Kind of species,age in months
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Human being,468
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Human being,600
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Human being,456
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Human being,636
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Human being,336

In [17]:
df.education

0            Bachelors
1            Bachelors
2              HS-grad
3                 11th
4            Bachelors
5              Masters
6                  9th
7              HS-grad
8              Masters
9            Bachelors
10        Some-college
11           Bachelors
12           Bachelors
13          Assoc-acdm
14           Assoc-voc
15             7th-8th
16             HS-grad
17             HS-grad
18                11th
19             Masters
20           Doctorate
21             HS-grad
22                 9th
23                11th
24             HS-grad
25           Bachelors
26             HS-grad
27        Some-college
28             HS-grad
29             HS-grad
             ...
32531        Bachelors
32532        Doctorate
32533        Bachelors
32534     Some-college
32535             12th
32536        Bachelors
32537          HS-grad
32538        Bachelors
32539        Doctorate
32540          HS-grad
32541          HS-grad
32542          HS-grad
32543       Assoc-acdm
32544          Masters
32545       Assoc-acdm
32546       Assoc-acdm
32547          HS-grad
32548      Prof-school
32549     Some-college
32550     Some-college
32551             10th
32552        Assoc-voc
32553          Masters
32554          Masters
32555     Some-college
32556       Assoc-acdm
32557          HS-grad
32558          HS-grad
32559          HS-grad
32560          HS-grad
Name: education, Length: 32561, dtype: object

In [18]:
df.age

0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [19]:
df.Kind of species

SyntaxError: invalid syntax (<ipython-input-19-f88ec0e8cd88>, line 1)

In [20]:
df['age']

0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: age, Length: 32561, dtype: int64

In [21]:
df['Kind of species']

0        Human being
1        Human being
2        Human being
3        Human being
4        Human being
5        Human being
6        Human being
7        Human being
8        Human being
9        Human being
10       Human being
11       Human being
12       Human being
13       Human being
14       Human being
15       Human being
16       Human being
17       Human being
18       Human being
19       Human being
20       Human being
21       Human being
22       Human being
23       Human being
24       Human being
25       Human being
26       Human being
27       Human being
28       Human being
29       Human being
            ...
32531    Human being
32532    Human being
32533    Human being
32534    Human being
32535    Human being
32536    Human being
32537    Human being
32538    Human being
32539    Human being
32540    Human being
32541    Human being
32542    Human being
32543    Human being
32544    Human being
32545    Human being
32546    Human being
32547    Human being
32548    Human being
32549    Human being
32550    Human being
32551    Human being
32552    Human being
32553    Human being
32554    Human being
32555    Human being
32556    Human being
32557    Human being
32558    Human being
32559    Human being
32560    Human being
Name: Kind of species, Length: 32561, dtype: object

In [22]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,Kind of species,age in months
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Human being,468
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Human being,600
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Human being,456
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Human being,636
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Human being,336

In [23]:
df[['age','education']]

       age      education
0       39      Bachelors
1       50      Bachelors
2       38        HS-grad
3       53           11th
4       28      Bachelors
5       37        Masters
6       49            9th
7       52        HS-grad
8       31        Masters
9       42      Bachelors
10      37   Some-college
11      30      Bachelors
12      23      Bachelors
13      32     Assoc-acdm
14      40      Assoc-voc
15      34        7th-8th
16      25        HS-grad
17      32        HS-grad
18      38           11th
19      43        Masters
20      40      Doctorate
21      54        HS-grad
22      35            9th
23      43           11th
24      59        HS-grad
25      56      Bachelors
26      19        HS-grad
27      54   Some-college
28      39        HS-grad
29      49        HS-grad
...    ...            ...
32531   30      Bachelors
32532   34      Doctorate
32533   54      Bachelors
32534   37   Some-college
32535   22           12th
32536   34      Bachelors
32537   30        HS-grad
32538   38      Bachelors
32539   71      Doctorate
32540   45        HS-grad
32541   41        HS-grad
32542   72        HS-grad
32543   45     Assoc-acdm
32544   31        Masters
32545   39     Assoc-acdm
32546   37     Assoc-acdm
32547   43        HS-grad
32548   65    Prof-school
32549   43   Some-college
32550   43   Some-college
32551   32           10th
32552   43      Assoc-voc
32553   32        Masters
32554   53        Masters
32555   22   Some-college
32556   27     Assoc-acdm
32557   40        HS-grad
32558   58        HS-grad
32559   22        HS-grad
32560   52        HS-grad

[32561 rows x 2 columns]

In [25]:
select = ['age','education','salary']
selecteddf = df[select]

In [26]:
type(selecteddf)

pandas.core.frame.DataFrame

# Broad casting Operations

In [38]:
df.head(2)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [40]:
df['age'] = df['age'] + 5

In [41]:
df.head(2)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,44,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,55,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [42]:
df['fnlwgt'] * df['edu-num']

0        1007708
1        1083043
2        1940814
3        1643047
4        4399317
5        3984148
6         800935
7        1886778
8         640934
9        2072837
10       2804640
11       1836861
12       1589536
13       2460228
14       1339492
15        981948
16       1590804
17       1681416
18        202209
19       4090450
20       3096384
21       2719314
22        384225
23        819259
24        981135
25       2819063
26       1514646
27       1802110
28       3305340
29       1740294
          ...
32531     439543
32532    3271376
32533    4393896
32534    1791370
32535    2600264
32536    2082808
32537    3113082
32538    1809340
32539    4597952
32540    2269872
32541    1825398
32542    1169208
32543    1430388
32544    2795170
32545    1337988
32546    2378592
32547    2346849
32548    1490385
32549    2558350
32550     272420
32551     204396
32552     931271
32553    1625932
32554    4506110
32555    3101520
32556    3087624
32557    1389366
32558    1367190
32559    1813410
32560    2591343
Length: 32561, dtype: int64

In [43]:
df['hour/week'] = df['hour/week'] + 2

In [44]:
df.head(2)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,44,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,42,United-States,<=50K
1,55,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,15,United-States,<=50K

In [45]:
df['cap-gain'] / 5

0         434.8
1           0.0
2           0.0
3           0.0
4           0.0
5           0.0
6           0.0
7           0.0
8        2816.8
9        1035.6
10          0.0
11          0.0
12          0.0
13          0.0
14          0.0
15          0.0
16          0.0
17          0.0
18          0.0
19          0.0
20          0.0
21          0.0
22          0.0
23          0.0
24          0.0
25          0.0
26          0.0
27          0.0
28          0.0
29          0.0
          ...
32531       0.0
32532       0.0
32533       0.0
32534       0.0
32535       0.0
32536       0.0
32537       0.0
32538    3004.0
32539       0.0
32540       0.0
32541       0.0
32542       0.0
32543       0.0
32544       0.0
32545       0.0
32546       0.0
32547       0.0
32548     217.2
32549       0.0
32550       0.0
32551       0.0
32552       0.0
32553       0.0
32554       0.0
32555       0.0
32556       0.0
32557       0.0
32558       0.0
32559       0.0
32560    3004.8
Name: cap-gain, Length: 32561, dtype: float64

# Drop Missing row or column

In [50]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0], [3, 4, np.nan, 1],
                    [np.nan, np.nan, np.nan, 5], [np.nan, np.nan, np.nan, np.nan]],
                   columns=list('ABCD'))

In [51]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [52]:
df.dropna(axis=0, how='any')

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [53]:
df.dropna(axis=0, how='all')

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0

In [54]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [55]:
df.dropna(axis=1, how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [56]:
df.dropna(axis=1, how='all')

     A    B    D
0  NaN  2.0  0.0
1  3.0  4.0  1.0
2  NaN  NaN  5.0
3  NaN  NaN  NaN

In [57]:
df

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0
2  NaN  NaN NaN  5.0
3  NaN  NaN NaN  NaN

In [59]:
df.drop(axis=0, labels=[2, 3])

     A    B   C    D
0  NaN  2.0 NaN  0.0
1  3.0  4.0 NaN  1.0

In [61]:
df.drop(axis=1, columns=['B', 'D'])

     A   C
0  NaN NaN
1  3.0 NaN
2  NaN NaN
3  NaN NaN

# Filter Data

In [17]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [15]:
2 > 3

False

In [16]:
4 == 4

True

In [18]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [21]:
df['sex'].apply(len)

0        5
1        5
2        5
3        5
4        7
5        7
6        7
7        5
8        7
9        5
10       5
11       5
12       7
13       5
14       5
15       5
16       5
17       5
18       5
19       7
20       5
21       7
22       5
23       5
24       7
25       5
26       5
27       5
28       5
29       5
        ..
32531    7
32532    5
32533    5
32534    7
32535    5
32536    7
32537    5
32538    7
32539    5
32540    7
32541    7
32542    5
32543    7
32544    7
32545    7
32546    7
32547    5
32548    5
32549    7
32550    5
32551    5
32552    5
32553    5
32554    5
32555    5
32556    7
32557    5
32558    7
32559    5
32560    7
Name: sex, Length: 32561, dtype: int64

In [25]:
con = df['sex'] == ' Male'
df[con]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32506,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K
32507,50,Private,302372,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K
32512,20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
32514,40,Private,142657,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,45,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32517,36,Private,131459,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32521,33,Private,273243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32523,30,Private,77266,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,55,United-States,<=50K
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K

In [27]:
maledata = df[df['sex'] == ' Male']

In [31]:
bigage = df[df['age'] > 50]

In [32]:
type(maledata)

pandas.core.frame.DataFrame

In [33]:
type(bigage)

pandas.core.frame.DataFrame

In [34]:
no50age = df[df['age'] != 50]

In [35]:
no50age

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# Multiple condition

In [36]:
con1 = df['sex'] == ' Male'
con2 = df['age'] > 50

In [39]:
con2.head()

0    False
1    False
2    False
3     True
4    False
Name: age, dtype: bool

In [40]:
con1.head()

0     True
1     True
2     True
3     True
4    False
Name: sex, dtype: bool

In [42]:
(con1 & con2).head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [43]:
df[con1 & con2]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K
83,59,Private,159937,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K
90,57,Private,249977,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
115,53,Private,95647,9th,5,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,50,United-States,<=50K
116,56,Self-emp-inc,303090,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
118,55,Private,247552,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,56,United-States,<=50K
140,61,Self-emp-inc,66614,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
144,70,Private,105376,Some-college,10,Never-married,Tech-support,Other-relative,White,Male,0,0,40,United-States,<=50K
148,64,Private,181232,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2179,40,United-States,<=50K
154,52,?,252903,HS-grad,9,Divorced,?,Not-in-family,White,Male,0,0,45,United-States,>50K
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K
172,51,Private,96062,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,1977,40,United-States,>50K
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
202,51,Private,259323,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
213,60,Private,85815,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
214,54,Self-emp-inc,125417,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
221,64,?,187656,1st-4th,2,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
223,54,Private,176681,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32375,59,Private,395736,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
32381,62,Private,271431,9th,5,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,42,United-States,<=50K
32384,62,Private,170984,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
32390,60,Private,56248,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32391,55,Private,199763,HS-grad,9,Separated,Protective-serv,Not-in-family,White,Male,0,0,81,United-States,<=50K
32400,53,Local-gov,186303,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,40,United-States,>50K
32412,61,Private,149620,Some-college,10,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
32415,57,Self-emp-not-inc,65080,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
32430,61,Self-emp-not-inc,50483,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,56,United-States,<=50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32444,51,Private,101432,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32448,61,Private,137554,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K
32463,58,Local-gov,223214,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32467,55,Private,199713,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States,<=50K
32487,51,Private,177669,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
32489,61,Private,355645,HS-grad,9,Married-civ-spouse,Sales,Husband,Black,Male,0,0,40,United-States,<=50K
32490,60,?,134152,9th,5,Divorced,?,Not-in-family,Black,Male,0,0,35,United-States,<=50K
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32498,57,Private,153918,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32501,71,Private,138145,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [44]:
df[con1 | con2]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States,<=50K
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32512,20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
32514,40,Private,142657,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,45,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32517,36,Private,131459,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K
32521,33,Private,273243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32523,30,Private,77266,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,Male,0,0,55,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K
32526,32,Private,211349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32527,22,Private,203715,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [45]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [46]:
con3 = df['education'] == 'Bachelors'

In [47]:
df[(con1 & con2) | con3]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States,<=50K
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K
77,67,?,212759,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,2,United-States,<=50K
81,52,Private,276515,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Cuba,<=50K
83,59,Private,159937,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K
90,57,Private,249977,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
115,53,Private,95647,9th,5,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,50,United-States,<=50K
116,56,Self-emp-inc,303090,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
118,55,Private,247552,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,56,United-States,<=50K
140,61,Self-emp-inc,66614,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
144,70,Private,105376,Some-college,10,Never-married,Tech-support,Other-relative,White,Male,0,0,40,United-States,<=50K
148,64,Private,181232,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2179,40,United-States,<=50K
154,52,?,252903,HS-grad,9,Divorced,?,Not-in-family,White,Male,0,0,45,United-States,>50K
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K
172,51,Private,96062,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,1977,40,United-States,>50K
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
202,51,Private,259323,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
213,60,Private,85815,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
214,54,Self-emp-inc,125417,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
221,64,?,187656,1st-4th,2,Divorced,?,Not-in-family,White,Male,0,0,40,United-States,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
223,54,Private,176681,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,20,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32375,59,Private,395736,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K
32381,62,Private,271431,9th,5,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,42,United-States,<=50K
32384,62,Private,170984,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
32390,60,Private,56248,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32391,55,Private,199763,HS-grad,9,Separated,Protective-serv,Not-in-family,White,Male,0,0,81,United-States,<=50K
32400,53,Local-gov,186303,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,40,United-States,>50K
32412,61,Private,149620,Some-college,10,Divorced,Other-service,Not-in-family,Black,Male,0,0,40,United-States,<=50K
32415,57,Self-emp-not-inc,65080,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,>50K
32430,61,Self-emp-not-inc,50483,7th-8th,4,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,56,United-States,<=50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32444,51,Private,101432,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32448,61,Private,137554,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
32459,85,Private,98611,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,Poland,<=50K
32463,58,Local-gov,223214,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32467,55,Private,199713,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States,<=50K
32487,51,Private,177669,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
32489,61,Private,355645,HS-grad,9,Married-civ-spouse,Sales,Husband,Black,Male,0,0,40,United-States,<=50K
32490,60,?,134152,9th,5,Divorced,?,Not-in-family,Black,Male,0,0,35,United-States,<=50K
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K
32498,57,Private,153918,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
32501,71,Private,138145,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32515,66,Federal-gov,47358,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,3471,0,40,United-States,<=50K
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

# .isin()

In [49]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [50]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [51]:
con1 = df['education'] == ' 11th'
con2 = df['education'] == ' 12th'
con3 = df['education'] == ' Masters'

In [52]:
df[con1 | con2 | con3]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
78,18,Private,309634,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,22,United-States,<=50K
87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
102,47,Self-emp-not-inc,149116,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
107,30,Private,194901,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
148,64,Private,181232,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2179,40,United-States,<=50K
162,44,Self-emp-inc,78374,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
164,45,Self-emp-not-inc,201080,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
167,46,State-gov,102628,Masters,14,Widowed,Protective-serv,Unmarried,White,Male,0,0,40,United-States,<=50K
168,18,Private,25828,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,16,United-States,<=50K
188,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
197,40,Federal-gov,56795,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,14084,0,55,United-States,>50K
198,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
200,26,Private,397317,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,1876,40,United-States,<=50K
205,18,Private,140164,11th,7,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
209,17,Private,65368,11th,7,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K
230,35,Private,538583,11th,7,Separated,Transport-moving,Not-in-family,Black,Male,3674,0,40,United-States,<=50K
238,38,Local-gov,115076,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,70,United-States,>50K
262,17,Private,245918,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,12,United-States,<=50K
264,26,Private,378322,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
272,50,Self-emp-not-inc,30653,Masters,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,2407,0,98,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32312,34,Private,346034,12th,8,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,0,35,Mexico,<=50K
32330,24,Private,118657,12th,8,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
32335,18,?,156608,11th,7,Never-married,?,Own-child,White,Female,0,0,25,United-States,<=50K
32340,75,Self-emp-not-inc,192813,Masters,14,Widowed,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
32345,18,Private,347336,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,12,United-States,<=50K
32349,36,Private,250807,11th,7,Never-married,Craft-repair,Not-in-family,Black,Female,0,0,40,United-States,<=50K
32361,55,Local-gov,166502,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
32392,18,Private,200047,12th,8,Never-married,Adm-clerical,Own-child,White,Male,0,0,35,United-States,<=50K
32405,33,Private,168387,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32423,61,Private,98776,11th,7,Widowed,Handlers-cleaners,Not-in-family,White,Female,0,0,30,United-States,<=50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32456,30,Self-emp-not-inc,261943,11th,7,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,30,Honduras,<=50K
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
32473,41,Federal-gov,160467,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,1506,0,40,United-States,<=50K
32476,35,Private,30673,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,84,United-States,<=50K
32477,49,?,114648,12th,8,Divorced,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32493,24,Private,381895,11th,7,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
32496,18,Private,436163,11th,7,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K
32500,34,Private,60567,11th,7,Divorced,Transport-moving,Unmarried,White,Male,0,880,60,United-States,<=50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

In [54]:
df[df['education'].isin([' 11th', ' 12th', ' Masters'])]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico,<=50K
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States,<=50K
78,18,Private,309634,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,22,United-States,<=50K
87,33,Private,202051,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
102,47,Self-emp-not-inc,149116,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
107,30,Private,194901,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
135,38,Federal-gov,125933,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,Iran,>50K
148,64,Private,181232,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2179,40,United-States,<=50K
162,44,Self-emp-inc,78374,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Female,0,0,40,United-States,<=50K
164,45,Self-emp-not-inc,201080,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
167,46,State-gov,102628,Masters,14,Widowed,Protective-serv,Unmarried,White,Male,0,0,40,United-States,<=50K
168,18,Private,25828,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,16,United-States,<=50K
188,31,Private,99928,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,50,United-States,<=50K
197,40,Federal-gov,56795,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,14084,0,55,United-States,>50K
198,35,Private,138992,Masters,14,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,7298,0,40,United-States,>50K
200,26,Private,397317,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,1876,40,United-States,<=50K
205,18,Private,140164,11th,7,Never-married,Sales,Own-child,White,Female,0,0,40,United-States,<=50K
209,17,Private,65368,11th,7,Never-married,Sales,Own-child,White,Female,0,0,12,United-States,<=50K
230,35,Private,538583,11th,7,Separated,Transport-moving,Not-in-family,Black,Male,3674,0,40,United-States,<=50K
238,38,Local-gov,115076,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,70,United-States,>50K
262,17,Private,245918,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,12,United-States,<=50K
264,26,Private,378322,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
272,50,Self-emp-not-inc,30653,Masters,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,2407,0,98,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32312,34,Private,346034,12th,8,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,0,35,Mexico,<=50K
32330,24,Private,118657,12th,8,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
32335,18,?,156608,11th,7,Never-married,?,Own-child,White,Female,0,0,25,United-States,<=50K
32340,75,Self-emp-not-inc,192813,Masters,14,Widowed,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
32345,18,Private,347336,12th,8,Never-married,Other-service,Own-child,White,Male,0,0,12,United-States,<=50K
32349,36,Private,250807,11th,7,Never-married,Craft-repair,Not-in-family,Black,Female,0,0,40,United-States,<=50K
32361,55,Local-gov,166502,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
32392,18,Private,200047,12th,8,Never-married,Adm-clerical,Own-child,White,Male,0,0,35,United-States,<=50K
32405,33,Private,168387,11th,7,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32423,61,Private,98776,11th,7,Widowed,Handlers-cleaners,Not-in-family,White,Female,0,0,30,United-States,<=50K
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K
32456,30,Self-emp-not-inc,261943,11th,7,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,0,30,Honduras,<=50K
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K
32472,34,Private,30673,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
32473,41,Federal-gov,160467,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,1506,0,40,United-States,<=50K
32476,35,Private,30673,12th,8,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,84,United-States,<=50K
32477,49,?,114648,12th,8,Divorced,?,Other-relative,Black,Male,0,0,40,United-States,<=50K
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32493,24,Private,381895,11th,7,Divorced,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
32496,18,Private,436163,11th,7,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K
32500,34,Private,60567,11th,7,Divorced,Transport-moving,Unmarried,White,Male,0,880,60,United-States,<=50K
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K
32522,58,Private,147707,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K

# .between()

In [55]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [58]:
df[df['age'].between(40, 42)]

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
58,41,Private,147372,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,48,United-States,<=50K
63,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
76,40,Private,32214,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
109,42,Private,124692,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K
121,40,Private,118853,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K
159,42,Private,228456,Bachelors,13,Separated,Other-service,Other-relative,Black,Male,0,0,50,United-States,<=50K
183,40,Private,286370,7th-8th,4,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,>50K
186,41,Self-emp-not-inc,143129,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K
192,41,Local-gov,523910,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,40,United-States,<=50K
194,41,Federal-gov,130760,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,24,United-States,<=50K
197,40,Federal-gov,56795,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Female,14084,0,55,United-States,>50K
203,42,Local-gov,254817,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,1340,40,United-States,<=50K
231,41,Private,130408,HS-grad,9,Divorced,Sales,Unmarried,Black,Female,0,0,38,United-States,<=50K
236,40,State-gov,170525,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,38,United-States,<=50K
237,41,Private,180138,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,Iran,>50K
240,40,Private,347890,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
241,41,Self-emp-not-inc,196001,HS-grad,9,Married-civ-spouse,Other-service,Wife,White,Female,0,0,20,United-States,<=50K
248,40,Private,207578,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,1977,60,United-States,>50K
250,41,Private,112763,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
251,42,Private,390781,Bachelors,13,Married-civ-spouse,Adm-clerical,Wife,Black,Female,0,0,40,United-States,<=50K
255,42,Self-emp-not-inc,303044,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,0,40,Cambodia,>50K
281,42,Local-gov,97688,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,5178,0,40,United-States,>50K
286,41,Private,220531,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
309,41,Self-emp-inc,34987,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,54,United-States,>50K
330,41,Private,206565,Some-college,10,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,45,United-States,<=50K
357,40,Private,96129,Assoc-voc,11,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32224,40,Private,70645,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
32228,40,Private,177905,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,44,United-States,>50K
32234,41,Private,206139,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
32253,42,Self-emp-not-inc,34037,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
32256,41,Private,182108,Doctorate,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K
32268,42,Private,204235,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32271,42,Local-gov,201495,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,72,United-States,>50K
32292,41,Private,318046,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,48,United-States,>50K
32296,42,Private,66118,Some-college,10,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
32307,42,Self-emp-inc,191196,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,60,?,>50K
32313,41,Private,144460,Some-college,10,Divorced,Machine-op-inspct,Own-child,White,Male,0,0,40,Italy,<=50K
32324,42,State-gov,138162,Some-college,10,Divorced,Adm-clerical,Own-child,White,Male,0,0,40,United-States,<=50K
32363,41,Self-emp-not-inc,251305,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,<=50K
32365,41,Private,122215,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,40,United-States,>50K
32366,42,Private,248356,HS-grad,9,Never-married,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K
32368,41,Private,220460,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,40,United-States,<=50K
32376,40,Private,306225,HS-grad,9,Divorced,Craft-repair,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Japan,<=50K
32388,40,Private,260425,Assoc-acdm,12,Separated,Tech-support,Unmarried,White,Female,1471,0,32,United-States,<=50K
32397,41,Private,185660,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32399,42,Private,161510,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,7298,0,40,United-States,>50K
32402,42,Private,288154,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,89,United-States,>50K
32427,41,Private,206878,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,0,32,United-States,<=50K
32433,41,Self-emp-not-inc,168098,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32451,40,Private,195617,Some-college,10,Separated,Exec-managerial,Unmarried,White,Female,0,0,20,United-States,<=50K
32473,41,Federal-gov,160467,Masters,14,Divorced,Prof-specialty,Unmarried,White,Female,1506,0,40,United-States,<=50K
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32492,42,Self-emp-not-inc,217597,HS-grad,9,Divorced,Sales,Own-child,White,Male,0,0,50,?,<=50K
32514,40,Private,142657,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Black,Male,0,0,45,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K

# nunique() & unique() method

In [59]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [63]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [66]:
len(df['sex'].unique())

2

In [70]:
df['sex'].nunique()

2

In [71]:
df['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [72]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [74]:
df['age'].nunique()

73

# Sort Values

In [18]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [19]:
df.head(3)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [20]:
df['country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [22]:
df.sort_values(by='country', ascending=False)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
12816,31,Private,182177,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,<=50K
30543,22,Private,180060,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,Yugoslavia,<=50K
1025,56,Private,169133,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Yugoslavia,<=50K
31519,29,Private,273051,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,52,Yugoslavia,>50K
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K
18247,41,Private,324629,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Yugoslavia,<=50K
20549,35,Private,81280,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,Yugoslavia,>50K
26614,36,Self-emp-inc,337778,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,Yugoslavia,>50K
23814,41,Self-emp-not-inc,145441,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Yugoslavia,<=50K
4447,25,Private,191230,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,Yugoslavia,<=50K
28487,45,Private,192323,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,66,Yugoslavia,<=50K
29437,43,Private,557349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Yugoslavia,<=50K
6328,20,Private,175069,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,Yugoslavia,<=50K
22200,56,Private,155657,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,20,Yugoslavia,<=50K
13125,66,Private,142624,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5556,0,40,Yugoslavia,>50K
12506,40,Local-gov,183096,9th,5,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Yugoslavia,>50K
10335,43,Private,125833,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
19094,21,Private,131473,Some-college,10,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,0,0,20,Vietnam,<=50K
9626,52,?,115209,Prof-school,15,Married-spouse-absent,?,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
26568,21,Private,154835,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
2259,38,Local-gov,123983,Bachelors,13,Never-married,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,1741,40,Vietnam,<=50K
21218,29,Private,143582,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,35,Vietnam,<=50K
30301,23,Private,168009,10th,6,Married-civ-spouse,Machine-op-inspct,Own-child,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
27214,30,Private,154568,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,36,Vietnam,>50K
17269,73,Self-emp-not-inc,233882,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,2457,40,Vietnam,<=50K
32044,44,Private,52028,1st-4th,2,Married-civ-spouse,Other-service,Wife,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
4919,23,Private,244408,Some-college,10,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,0,0,24,Vietnam,<=50K
18096,22,Local-gov,244408,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
9463,23,State-gov,298871,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
19511,30,Private,190912,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,0,1651,40,Vietnam,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20531,34,Private,609789,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,30,?,<=50K
19351,33,Private,35309,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Asian-Pac-Islander,Male,0,0,40,?,<=50K
30656,24,Private,29302,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,40,?,<=50K
9537,26,Private,149943,HS-grad,9,Never-married,Other-service,Other-relative,Asian-Pac-Islander,Male,0,0,60,?,<=50K
19346,39,Private,165106,Bachelors,13,Married-spouse-absent,Craft-repair,Not-in-family,White,Male,0,1564,50,?,>50K
13918,55,Private,308118,Bachelors,13,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,40,?,<=50K
13913,24,Private,464502,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,40,?,<=50K
7284,40,Federal-gov,163215,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,?,<=50K
13897,24,Private,193920,Masters,14,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,45,?,<=50K
24457,39,Private,188069,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,?,<=50K
26234,27,Private,405765,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,?,>50K
7345,20,Private,285295,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,0,0,40,?,<=50K
9503,46,Self-emp-inc,328216,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,1902,42,?,>50K
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
14043,22,Private,412316,HS-grad,9,Never-married,Sales,Other-relative,Black,Male,0,0,40,?,<=50K
20499,37,Private,245482,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,?,<=50K
8282,43,Private,143582,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,0,2129,72,?,<=50K
7398,60,Private,216690,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
11423,36,Private,135162,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,45,?,<=50K
30638,25,Self-emp-inc,181691,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,?,<=50K
5663,53,Local-gov,228723,HS-grad,9,Divorced,Craft-repair,Not-in-family,Other,Male,0,0,40,?,>50K
1738,45,Private,182655,Bachelors,13,Divorced,Other-service,Not-in-family,White,Male,0,0,45,?,>50K
17021,29,Private,113870,1st-4th,2,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,?,<=50K
4405,45,Private,102096,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,?,>50K
27669,17,Private,113301,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,12,?,<=50K
15792,34,Self-emp-not-inc,213226,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1485,35,?,<=50K
4396,17,Private,160118,12th,8,Never-married,Sales,Not-in-family,White,Female,0,0,10,?,<=50K
30582,34,Private,209213,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,0,0,40,?,<=50K
22002,32,Private,228357,Assoc-voc,11,Divorced,Other-service,Unmarried,White,Female,0,0,40,?,<=50K
21541,27,Private,169958,5th-6th,3,Never-married,Craft-repair,Own-child,White,Male,0,0,40,?,<=50K

In [24]:
df.sort_values(by='age', ascending=False)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
5406,90,Private,51744,Masters,14,Never-married,Exec-managerial,Not-in-family,Black,Male,0,0,50,United-States,>50K
6624,90,Private,313986,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
20610,90,Private,206667,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,>50K
1040,90,Private,137018,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
1935,90,Private,221832,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,<=50K
32367,90,Local-gov,214594,7th-8th,4,Married-civ-spouse,Protective-serv,Husband,White,Male,2653,0,40,United-States,<=50K
18832,90,Private,115306,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
19212,90,Private,139660,Some-college,10,Divorced,Sales,Unmarried,Black,Female,0,0,37,United-States,<=50K
25303,90,?,175444,7th-8th,4,Separated,?,Not-in-family,White,Female,0,0,15,United-States,<=50K
28463,90,Federal-gov,195433,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States,<=50K
5272,90,Private,141758,9th,5,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
18413,90,Private,313749,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
14159,90,Local-gov,187749,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,0,0,20,Philippines,<=50K
4109,90,?,256514,Bachelors,13,Widowed,?,Other-relative,White,Female,991,0,10,United-States,<=50K
31030,90,Private,47929,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
11512,90,Private,87285,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,24,United-States,<=50K
15356,90,Private,90523,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,99,United-States,<=50K
4070,90,Private,313986,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
2891,90,Private,171956,Some-college,10,Separated,Adm-clerical,Own-child,White,Female,0,0,40,Puerto-Rico,<=50K
10210,90,Self-emp-not-inc,282095,Some-college,10,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,United-States,<=50K
8963,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
8973,90,Private,46786,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,9386,0,15,United-States,>50K
31696,90,?,313986,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,>50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
6232,90,Self-emp-not-inc,155981,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,10566,0,50,United-States,<=50K
22220,90,Private,52386,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,United-States,<=50K
32277,90,Private,313749,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,25,United-States,<=50K
12975,90,Private,250832,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22857,17,Local-gov,340043,12th,8,Never-married,Adm-clerical,Own-child,White,Female,0,0,12,United-States,<=50K
13807,17,Private,132636,11th,7,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
11097,17,Private,232900,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,25,United-States,<=50K
13812,17,Private,195505,10th,6,Never-married,Sales,Own-child,White,Male,0,0,5,United-States,<=50K
29684,17,Private,136363,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
29673,17,Private,47425,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,15,United-States,<=50K
19380,17,Private,95446,10th,6,Never-married,Other-service,Own-child,White,Male,0,0,15,United-States,<=50K
27502,17,Private,277583,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
25021,17,Private,122041,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0,20,United-States,<=50K
25024,17,Private,100828,11th,7,Never-married,Other-service,Not-in-family,White,Male,0,0,20,United-States,<=50K
7947,17,Private,186067,10th,6,Never-married,Tech-support,Own-child,White,Male,0,0,10,United-States,<=50K
29764,17,Private,151799,11th,7,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
19211,17,Private,148522,11th,7,Never-married,Other-service,Own-child,White,Male,0,1721,15,United-States,<=50K
31864,17,Private,214787,12th,8,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K
2278,17,Private,329783,10th,6,Never-married,Sales,Other-relative,White,Female,0,0,10,United-States,<=50K
11084,17,Private,266072,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,20,El-Salvador,<=50K
19003,17,Private,198830,11th,7,Never-married,Adm-clerical,Other-relative,White,Female,0,0,10,United-States,<=50K
27350,17,?,216595,11th,7,Never-married,?,Own-child,Black,Female,0,0,20,United-States,<=50K
19134,17,?,280670,10th,6,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K
29810,17,Private,206998,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,10,United-States,<=50K
22957,17,Private,54257,11th,7,Never-married,Adm-clerical,Own-child,White,Female,0,0,20,United-States,<=50K
15850,17,Private,73338,11th,7,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
29795,17,Private,78602,11th,7,Never-married,Other-service,Other-relative,White,Female,0,0,20,United-States,<=50K
2381,17,Private,317681,11th,7,Never-married,Craft-repair,Own-child,White,Male,0,0,10,United-States,<=50K
19173,17,Private,167878,11th,7,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
609,17,Private,169658,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,21,United-States,<=50K
22928,17,?,332666,10th,6,Never-married,?,Own-child,White,Female,0,0,4,United-States,<=50K
19190,17,Private,29571,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
19206,17,Private,183066,10th,6,Never-married,Other-service,Own-child,White,Female,0,0,25,United-States,<=50K
24954,17,Private,160968,11th,7,Never-married,Adm-clerical,Own-child,White,Male,0,0,16,United-States,<=50K

In [27]:
df.sort_values(by=['country','age'], ascending=False)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
13125,66,Private,142624,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5556,0,40,Yugoslavia,>50K
1025,56,Private,169133,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Yugoslavia,<=50K
22200,56,Private,155657,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,20,Yugoslavia,<=50K
28487,45,Private,192323,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,66,Yugoslavia,<=50K
29437,43,Private,557349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Yugoslavia,<=50K
18247,41,Private,324629,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Yugoslavia,<=50K
23814,41,Self-emp-not-inc,145441,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Yugoslavia,<=50K
12506,40,Local-gov,183096,9th,5,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Yugoslavia,>50K
26614,36,Self-emp-inc,337778,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,Yugoslavia,>50K
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K
20549,35,Private,81280,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,Yugoslavia,>50K
12816,31,Private,182177,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,<=50K
31519,29,Private,273051,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,52,Yugoslavia,>50K
4447,25,Private,191230,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,Yugoslavia,<=50K
30543,22,Private,180060,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,Yugoslavia,<=50K
6328,20,Private,175069,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,Yugoslavia,<=50K
17269,73,Self-emp-not-inc,233882,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,2457,40,Vietnam,<=50K
27642,73,?,131982,Bachelors,13,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,5,Vietnam,<=50K
11271,70,Private,235781,Some-college,10,Divorced,Farming-fishing,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
7210,63,Private,135339,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Asian-Pac-Islander,Male,2105,0,40,Vietnam,<=50K
11589,54,Private,147863,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,5013,0,40,Vietnam,<=50K
7697,53,Private,290640,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
9626,52,?,115209,Prof-school,15,Married-spouse-absent,?,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
32203,51,Federal-gov,223206,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,40,Vietnam,>50K
20360,50,Self-emp-not-inc,64667,HS-grad,9,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Female,0,0,60,Vietnam,<=50K
9711,48,Private,102938,Bachelors,13,Never-married,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
22900,46,Private,124733,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
15124,45,Private,101656,10th,6,Never-married,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
19542,45,Private,160724,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
25994,45,Private,338105,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21062,21,Private,86625,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,?,<=50K
22788,21,Private,143604,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,29,?,<=50K
23704,21,Private,335570,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,30,?,<=50K
25574,21,Private,215039,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,13,?,<=50K
26446,21,Private,27255,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,?,<=50K
4156,20,Private,54152,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,?,<=50K
7153,20,Private,197496,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,30,?,<=50K
7345,20,Private,285295,Some-college,10,Never-married,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Female,0,0,40,?,<=50K
15444,20,Private,219266,HS-grad,9,Married-civ-spouse,Prof-specialty,Own-child,White,Female,0,0,36,?,<=50K
16381,20,Private,219835,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,30,?,<=50K
23284,20,Private,153583,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,?,<=50K
24960,20,Private,107242,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,?,<=50K
28688,20,?,200061,Some-college,10,Never-married,?,Own-child,White,Female,0,0,40,?,<=50K
30230,20,Private,178469,HS-grad,9,Never-married,Other-service,Own-child,Asian-Pac-Islander,Female,0,0,15,?,<=50K
30369,20,?,250037,Some-college,10,Never-married,?,Own-child,White,Female,0,0,18,?,<=50K
1990,19,Private,365640,HS-grad,9,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,45,?,<=50K
9366,19,Private,158343,Some-college,10,Never-married,Tech-support,Own-child,White,Female,0,0,40,?,<=50K
11595,19,Private,258633,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,?,<=50K
14592,19,Private,223648,11th,7,Never-married,Sales,Own-child,White,Male,0,0,20,?,<=50K
23173,19,Private,254247,12th,8,Never-married,Adm-clerical,Own-child,White,Male,0,0,38,?,<=50K
51,18,Private,226956,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,30,?,<=50K
4658,18,Private,146378,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,40,?,<=50K
7080,18,Private,74054,11th,7,Never-married,Sales,Own-child,Other,Female,0,0,20,?,<=50K
9849,18,Private,120691,Some-college,10,Never-married,Other-service,Own-child,Black,Male,0,0,35,?,<=50K
12959,18,Private,118376,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,16,?,<=50K
13603,18,Self-emp-not-inc,296090,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,48,?,<=50K
17481,18,Private,205894,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,25,?,<=50K
30902,18,Private,174926,9th,5,Never-married,Other-service,Own-child,White,Male,0,0,15,?,<=50K
4396,17,Private,160118,12th,8,Never-married,Sales,Not-in-family,White,Female,0,0,10,?,<=50K
27669,17,Private,113301,11th,7,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,12,?,<=50K

In [28]:
df.sort_values(by=['country','age'], ascending=[False, True])

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
6328,20,Private,175069,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,Yugoslavia,<=50K
30543,22,Private,180060,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,Yugoslavia,<=50K
4447,25,Private,191230,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,Yugoslavia,<=50K
31519,29,Private,273051,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,52,Yugoslavia,>50K
12816,31,Private,182177,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,<=50K
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K
20549,35,Private,81280,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,Yugoslavia,>50K
26614,36,Self-emp-inc,337778,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,Yugoslavia,>50K
12506,40,Local-gov,183096,9th,5,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Yugoslavia,>50K
18247,41,Private,324629,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Yugoslavia,<=50K
23814,41,Self-emp-not-inc,145441,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Yugoslavia,<=50K
29437,43,Private,557349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Yugoslavia,<=50K
28487,45,Private,192323,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,66,Yugoslavia,<=50K
1025,56,Private,169133,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Yugoslavia,<=50K
22200,56,Private,155657,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,20,Yugoslavia,<=50K
13125,66,Private,142624,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5556,0,40,Yugoslavia,>50K
2653,19,Private,115248,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
27026,19,Private,165306,Some-college,10,Never-married,Tech-support,Other-relative,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
4262,20,Private,133352,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
4826,20,Private,147171,Some-college,10,Never-married,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
9470,20,Private,256211,Some-college,10,Never-married,Machine-op-inspct,Other-relative,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
19094,21,Private,131473,Some-college,10,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,0,0,20,Vietnam,<=50K
26568,21,Private,154835,Some-college,10,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
28773,21,?,123983,Some-college,10,Never-married,?,Other-relative,Asian-Pac-Islander,Male,0,0,10,Vietnam,<=50K
5395,22,Private,304710,Bachelors,13,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,10,Vietnam,<=50K
18096,22,Local-gov,244408,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
30135,22,Private,117747,Some-college,10,Never-married,Craft-repair,Other-relative,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
4168,23,Private,125491,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Female,0,0,35,Vietnam,<=50K
4919,23,Private,244408,Some-college,10,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,0,0,24,Vietnam,<=50K
5415,23,Private,73514,HS-grad,9,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21382,62,Local-gov,41793,Masters,14,Separated,Prof-specialty,Not-in-family,White,Female,0,0,50,?,<=50K
6129,63,Private,88653,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,<=50K
13198,63,Private,225102,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,?,<=50K
15609,63,Private,181828,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,?,<=50K
19490,63,Private,221072,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,49,?,<=50K
19768,63,Private,339755,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,?,>50K
1676,64,?,168340,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,?,>50K
3247,64,Self-emp-inc,132832,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,20051,0,40,?,>50K
4326,64,Private,164204,1st-4th,2,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,53,?,<=50K
26405,64,Federal-gov,388594,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,?,>50K
29680,64,Local-gov,199298,5th-6th,3,Divorced,Other-service,Not-in-family,White,Female,0,0,45,?,<=50K
729,65,Self-emp-not-inc,118474,11th,7,Married-civ-spouse,Exec-managerial,Husband,White,Male,9386,0,59,?,>50K
11187,65,Private,271092,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,?,<=50K
27376,65,Private,461715,HS-grad,9,Divorced,Sales,Unmarried,White,Female,0,0,25,?,<=50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
4772,66,Local-gov,222810,Some-college,10,Divorced,Other-service,Other-relative,White,Female,7896,0,40,?,>50K
32090,66,Private,115498,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,55,?,>50K
25549,67,State-gov,239705,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,12,?,<=50K
24923,68,Private,208478,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,18,?,<=50K
25491,68,State-gov,202699,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2377,42,?,>50K
26296,68,?,286869,7th-8th,4,Widowed,?,Not-in-family,White,Female,0,1668,40,?,<=50K
20333,69,?,199591,Prof-school,15,Married-civ-spouse,?,Wife,White,Female,0,0,25,?,<=50K
28220,70,Private,237065,5th-6th,3,Widowed,Other-service,Other-relative,White,Female,2346,0,40,?,<=50K
14857,72,Private,97304,HS-grad,9,Married-spouse-absent,Machine-op-inspct,Unmarried,White,Male,2346,0,40,?,<=50K
19997,72,Private,268861,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,99,?,<=50K
16108,74,Private,194312,9th,5,Widowed,Craft-repair,Not-in-family,White,Male,0,0,10,?,<=50K
5201,76,Self-emp-not-inc,33213,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,30,?,>50K
12830,81,Private,201398,Masters,14,Widowed,Prof-specialty,Unmarried,White,Male,0,0,60,?,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K

# sorting index

In [29]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [31]:
df.sort_values('country', inplace=True)

In [32]:
df

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
21541,27,Private,169958,5th-6th,3,Never-married,Craft-repair,Own-child,White,Male,0,0,40,?,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
27305,34,Self-emp-not-inc,114185,Bachelors,13,Divorced,Transport-moving,Not-in-family,White,Male,0,0,50,?,<=50K
5854,40,Private,37618,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,?,<=50K
27299,37,Self-emp-not-inc,327164,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,70,?,<=50K
32169,25,Private,149943,HS-grad,9,Never-married,Other-service,Other-relative,Asian-Pac-Islander,Male,4101,0,60,?,<=50K
21382,62,Local-gov,41793,Masters,14,Separated,Prof-specialty,Not-in-family,White,Female,0,0,50,?,<=50K
21393,37,Self-emp-not-inc,187411,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,?,<=50K
17452,47,Self-emp-inc,119471,7th-8th,4,Never-married,Craft-repair,Not-in-family,Other,Male,0,0,40,?,<=50K
12362,29,State-gov,106334,Masters,14,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,?,<=50K
10403,28,Private,150025,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,?,<=50K
10408,39,Private,137522,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
18233,45,Private,129387,Assoc-acdm,12,Divorced,Tech-support,Unmarried,White,Female,0,0,40,?,<=50K
12329,22,Private,112164,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,?,<=50K
15931,22,Private,253799,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,45,?,<=50K
15932,52,Private,266138,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,?,>50K
12315,52,Private,201310,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,40,?,<=50K
5963,36,Private,189674,HS-grad,9,Never-married,Priv-house-serv,Unmarried,Black,Female,0,0,28,?,<=50K
453,42,Private,197583,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,40,?,>50K
23236,54,Self-emp-inc,304570,Bachelors,13,Married-civ-spouse,Machine-op-inspct,Husband,Asian-Pac-Islander,Male,7688,0,40,?,>50K
24980,37,Private,154571,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,<=50K
23284,20,Private,153583,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,?,<=50K
1593,55,Private,98361,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,?,>50K
5709,37,Federal-gov,129573,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,72,?,>50K
31128,56,Local-gov,268213,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,35,?,>50K
8477,24,Private,178255,Some-college,10,Married-civ-spouse,Priv-house-serv,Wife,White,Female,0,0,40,?,<=50K
1581,31,Private,169104,Bachelors,13,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,0,0,40,?,<=50K
27383,32,Self-emp-not-inc,261056,Bachelors,13,Never-married,Prof-specialty,Own-child,Black,Female,2174,0,60,?,<=50K
5841,50,Private,196193,Masters,14,Married-spouse-absent,Prof-specialty,Other-relative,White,Male,0,0,60,?,<=50K
10343,39,Self-emp-not-inc,331481,Bachelors,13,Divorced,Craft-repair,Not-in-family,Black,Male,0,1669,60,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2653,19,Private,115248,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
4826,20,Private,147171,Some-college,10,Never-married,Adm-clerical,Unmarried,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
14507,23,Private,256211,Some-college,10,Never-married,Adm-clerical,Not-in-family,Asian-Pac-Islander,Male,0,0,24,Vietnam,<=50K
2259,38,Local-gov,123983,Bachelors,13,Never-married,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,1741,40,Vietnam,<=50K
19511,30,Private,190912,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Asian-Pac-Islander,Male,0,1651,40,Vietnam,<=50K
15124,45,Private,101656,10th,6,Never-married,Machine-op-inspct,Not-in-family,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
28773,21,?,123983,Some-college,10,Never-married,?,Other-relative,Asian-Pac-Islander,Male,0,0,10,Vietnam,<=50K
31079,26,Private,122575,Bachelors,13,Never-married,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,0,60,Vietnam,<=50K
17269,73,Self-emp-not-inc,233882,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,Asian-Pac-Islander,Male,0,2457,40,Vietnam,<=50K
4168,23,Private,125491,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Female,0,0,35,Vietnam,<=50K
3832,24,Private,123983,11th,7,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
26878,25,Private,139012,Bachelors,13,Never-married,Sales,Own-child,Asian-Pac-Islander,Male,2174,0,40,Vietnam,<=50K
18031,44,Private,172475,HS-grad,9,Divorced,Adm-clerical,Not-in-family,Asian-Pac-Islander,Female,0,0,40,Vietnam,<=50K
13821,30,Private,176123,10th,6,Never-married,Machine-op-inspct,Other-relative,Asian-Pac-Islander,Male,0,0,40,Vietnam,<=50K
6328,20,Private,175069,Some-college,10,Never-married,Adm-clerical,Own-child,White,Male,0,0,40,Yugoslavia,<=50K
22200,56,Private,155657,7th-8th,4,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,20,Yugoslavia,<=50K
26614,36,Self-emp-inc,337778,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,Yugoslavia,>50K
30543,22,Private,180060,HS-grad,9,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,Yugoslavia,<=50K
13125,66,Private,142624,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,5556,0,40,Yugoslavia,>50K
20549,35,Private,81280,Bachelors,13,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,Yugoslavia,>50K
12506,40,Local-gov,183096,9th,5,Married-civ-spouse,Other-service,Wife,White,Female,0,0,40,Yugoslavia,>50K
29437,43,Private,557349,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Yugoslavia,<=50K
1025,56,Private,169133,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,50,Yugoslavia,<=50K
28487,45,Private,192323,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,66,Yugoslavia,<=50K
12816,31,Private,182177,Bachelors,13,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,<=50K
23814,41,Self-emp-not-inc,145441,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,Yugoslavia,<=50K
7287,35,Private,164526,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Yugoslavia,>50K
31519,29,Private,273051,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,52,Yugoslavia,>50K
4447,25,Private,191230,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,Yugoslavia,<=50K
18247,41,Private,324629,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Yugoslavia,<=50K

In [34]:
df.sort_index(ascending=False)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K

In [35]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
21541,27,Private,169958,5th-6th,3,Never-married,Craft-repair,Own-child,White,Male,0,0,40,?,<=50K
18277,90,Private,311184,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,20,?,<=50K
27305,34,Self-emp-not-inc,114185,Bachelors,13,Divorced,Transport-moving,Not-in-family,White,Male,0,0,50,?,<=50K
5854,40,Private,37618,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,?,<=50K
27299,37,Self-emp-not-inc,327164,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,70,?,<=50K

# .loc() & .iloc() method

In [2]:
import pandas as pd

In [7]:
data= pd.read_csv('drinks.csv', index_col='country')

In [8]:
data.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

In [9]:
data.loc['Albania']

beer_servings                    89
spirit_servings                 132
wine_servings                    54
total_litres_of_pure_alcohol    4.9
continent                        EU
Name: Albania, dtype: object

In [10]:
data.loc['India']

beer_servings                     9
spirit_servings                 114
wine_servings                     0
total_litres_of_pure_alcohol    2.2
continent                        AS
Name: India, dtype: object

In [11]:
data.loc[['Albania','India']]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Albania,89,132,54,4.9,EU
India,9,114,0,2.2,AS

In [12]:
data.loc[['Albania','India']][['wine_servings','continent']]

         wine_servings continent
country
Albania             54        EU
India                0        AS

In [13]:
data.loc[['Albania','India','XYZ']]

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Albania,89.0,132.0,54.0,4.9,EU
India,9.0,114.0,0.0,2.2,AS
XYZ,NaN,NaN,NaN,NaN,NaN

In [14]:
data.head(10)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA
Armenia,21,179,11,3.8,EU
Australia,261,72,212,10.4,OC
Austria,279,75,191,9.7,EU

In [15]:
data.loc['Algeria':'Australia']

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA
Armenia,21,179,11,3.8,EU
Australia,261,72,212,10.4,OC

In [16]:
data.loc['Algeria':'Australia']['beer_servings']

country
Algeria               25
Andorra              245
Angola               217
Antigua & Barbuda    102
Argentina            193
Armenia               21
Australia            261
Name: beer_servings, dtype: int64

In [17]:
data.iloc[0]

beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       AS
Name: Afghanistan, dtype: object

In [18]:
data.iloc[5]

beer_servings                   102
spirit_servings                 128
wine_servings                    45
total_litres_of_pure_alcohol    4.9
continent                       NaN
Name: Antigua & Barbuda, dtype: object

In [19]:
data.iloc[5: 10]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA
Armenia,21,179,11,3.8,EU
Australia,261,72,212,10.4,OC
Austria,279,75,191,9.7,EU

In [20]:
data.iloc[[3, 7, 12]]

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Andorra,245,138,312,12.4,EU
Armenia,21,179,11,3.8,EU
Bahrain,42,63,7,2.0,AS

# .ix() method

In [21]:
data.head()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Afghanistan,0,0,0,0.0,AS
Albania,89,132,54,4.9,EU
Algeria,25,0,14,0.7,AF
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF

In [22]:
data.ix[2]

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

beer_servings                    25
spirit_servings                   0
wine_servings                    14
total_litres_of_pure_alcohol    0.7
continent                        AF
Name: Algeria, dtype: object

In [23]:
data.ix['Algeria']

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

beer_servings                    25
spirit_servings                   0
wine_servings                    14
total_litres_of_pure_alcohol    0.7
continent                        AF
Name: Algeria, dtype: object

In [24]:
data.ix[3 : 7]

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA

In [25]:
data.ix['Andorra' : 'Argentina']

C:\Users\PC\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
country,,,,,
Andorra,245,138,312,12.4,EU
Angola,217,57,45,5.9,AF
Antigua & Barbuda,102,128,45,4.9,NaN
Argentina,193,25,221,8.3,SA

# .astype() method : Data type conversion

In [26]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour/week         32561 non-null int64
country           32561 non-null object
salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [31]:
df['sex'] = df['sex'].astype('category')

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null category
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour/week         32561 non-null int64
country           32561 non-null object
salary            32561 non-null object
dtypes: category(1), int64(6), object(8)
memory usage: 3.5+ MB

In [33]:
df['marital-status'] = df['marital-status'].astype('category')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null category
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null category
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour/week         32561 non-null int64
country           32561 non-null object
salary            32561 non-null object
dtypes: category(2), int64(6), object(7)
memory usage: 3.3+ MB

In [35]:
df['age'] = df['age'].astype('float')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null float64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
edu-num           32561 non-null int64
marital-status    32561 non-null category
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null category
cap-gain          32561 non-null int64
cap-loss          32561 non-null int64
hour/week         32561 non-null int64
country           32561 non-null object
salary            32561 non-null object
dtypes: category(2), float64(1), int64(5), object(7)
memory usage: 3.3+ MB

# set_index() : change index column

In [39]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names, index_col='country')

In [40]:
df.head(3)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,salary
country,,,,,,,,,,,,,,
United-States,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,<=50K
United-States,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,<=50K
United-States,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,<=50K

In [41]:
df.set_index('age')

,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,salary
age,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,<=50K
37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,<=50K
49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,<=50K
52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,>50K
31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,>50K
42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,>50K
37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,>50K
30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,<=50K
32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,<=50K
40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,<=50K
25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,<=50K
32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,<=50K
38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,<=50K
43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,>50K
40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,>50K
54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,<=50K
35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,<=50K
43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,<=50K
59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,<=50K
56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,>50K
19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,<=50K
54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,>50K
39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,<=50K
49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,<=50K
34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,>50K
54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,>50K
37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,<=50K
22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,<=50K
34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,>50K
30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,<=50K
38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,>50K
71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,>50K
45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,<=50K
41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,<=50K
72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,<=50K
45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,<=50K
31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,<=50K
39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,>50K
37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,<=50K
43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,<=50K
65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,<=50K
43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,<=50K
43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,<=50K
32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,<=50K
43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,<=50K
32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,<=50K
53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,>50K
22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,<=50K
27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,<=50K
40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,>50K
58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,<=50K
22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,<=50K
52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,>50K

In [42]:
df.set_index(['sex','salary'])

                age          workclass  fnlwgt      education  edu-num  \
sex     salary
 Male    <=50K   39          State-gov   77516      Bachelors       13
         <=50K   50   Self-emp-not-inc   83311      Bachelors       13
         <=50K   38            Private  215646        HS-grad        9
         <=50K   53            Private  234721           11th        7
 Female  <=50K   28            Private  338409      Bachelors       13
         <=50K   37            Private  284582        Masters       14
         <=50K   49            Private  160187            9th        5
 Male    >50K    52   Self-emp-not-inc  209642        HS-grad        9
 Female  >50K    31            Private   45781        Masters       14
 Male    >50K    42            Private  159449      Bachelors       13
         >50K    37            Private  280464   Some-college       10
         >50K    30          State-gov  141297      Bachelors       13
 Female  <=50K   23            Private  122272      Bachelors       13
 Male    <=50K   32            Private  205019     Assoc-acdm       12
         >50K    40            Private  121772      Assoc-voc       11
         <=50K   34            Private  245487        7th-8th        4
         <=50K   25   Self-emp-not-inc  176756        HS-grad        9
         <=50K   32            Private  186824        HS-grad        9
         <=50K   38            Private   28887           11th        7
 Female  >50K    43   Self-emp-not-inc  292175        Masters       14
 Male    >50K    40            Private  193524      Doctorate       16
 Female  <=50K   54            Private  302146        HS-grad        9
 Male    <=50K   35        Federal-gov   76845            9th        5
         <=50K   43            Private  117037           11th        7
 Female  <=50K   59            Private  109015        HS-grad        9
 Male    >50K    56          Local-gov  216851      Bachelors       13
         <=50K   19            Private  168294        HS-grad        9
         >50K    54                  ?  180211   Some-college       10
         <=50K   39            Private  367260        HS-grad        9
         <=50K   49            Private  193366        HS-grad        9
...             ...                ...     ...            ...      ...
 Female  <=50K   30                  ?   33811      Bachelors       13
 Male    >50K    34            Private  204461      Doctorate       16
         >50K    54            Private  337992      Bachelors       13
 Female  <=50K   37            Private  179137   Some-college       10
 Male    <=50K   22            Private  325033           12th        8
 Female  >50K    34            Private  160216      Bachelors       13
 Male    <=50K   30            Private  345898        HS-grad        9
 Female  >50K    38            Private  139180      Bachelors       13
 Male    >50K    71                  ?  287372      Doctorate       16
 Female  <=50K   45          State-gov  252208        HS-grad        9
         <=50K   41                  ?  202822        HS-grad        9
 Male    <=50K   72                  ?  129912        HS-grad        9
 Female  <=50K   45          Local-gov  119199     Assoc-acdm       12
         <=50K   31            Private  199655        Masters       14
         >50K    39          Local-gov  111499     Assoc-acdm       12
         <=50K   37            Private  198216     Assoc-acdm       12
 Male    <=50K   43            Private  260761        HS-grad        9
         <=50K   65   Self-emp-not-inc   99359    Prof-school       15
 Female  <=50K   43          State-gov  255835   Some-college       10
 Male    <=50K   43   Self-emp-not-inc   27242   Some-college       10
         <=50K   32            Private   34066           10th        6
         <=50K   43            Private   84661      Assoc-voc       11
         <=50K   32            Private  116138        Masters       14
         >50K    53            Private  321865        Masters       14
         <=50K   22            Private  310152   Some-college       10
 Female  <=50K   27            Private  257302     Assoc-acdm       12
 Male    >50K    40            Private  154374        HS-grad        9
 Female  <=50K   58            Private  151910        HS-grad        9
 Male    <=50K   22            Private  201490        HS-grad        9
 Female  >50K    52       Self-emp-inc  287927        HS-grad        9

                        marital-status          occupation     relationship  \
sex     salary
 Male    <=50K           Never-married        Adm-clerical    Not-in-family
         <=50K      Married-civ-spouse     Exec-managerial          Husband
         <=50K                Divorced   Handlers-cleaners    Not-in-family
         <=50K      Married-civ-spouse   Handlers-cleaners          Husband
 Female  <=50K      Married-civ-spouse      Prof-specialty             Wife
         <=50K      Married-civ-spouse     Exec-managerial             Wife
         <=50K   Married-spouse-absent       Other-service    Not-in-family
 Male    >50K       Married-civ-spouse     Exec-managerial          Husband
 Female  >50K            Never-married      Prof-specialty    Not-in-family
 Male    >50K       Married-civ-spouse     Exec-managerial          Husband
         >50K       Married-civ-spouse     Exec-managerial          Husband
         >50K       Married-civ-spouse      Prof-specialty          Husband
 Female  <=50K           Never-married        Adm-clerical        Own-child
 Male    <=50K           Never-married               Sales    Not-in-family
         >50K       Married-civ-spouse        Craft-repair          Husband
         <=50K      Married-civ-spouse    Transport-moving          Husband
         <=50K           Never-married     Farming-fishing        Own-child
         <=50K           Never-married   Machine-op-inspct        Unmarried
         <=50K      Married-civ-spouse               Sales          Husband
 Female  >50K                 Divorced     Exec-managerial        Unmarried
 Male    >50K       Married-civ-spouse      Prof-specialty          Husband
 Female  <=50K               Separated       Other-service        Unmarried
 Male    <=50K      Married-civ-spouse     Farming-fishing          Husband
         <=50K      Married-civ-spouse    Transport-moving          Husband
 Female  <=50K                Divorced        Tech-support        Unmarried
 Male    >50K       Married-civ-spouse        Tech-support          Husband
         <=50K           Never-married        Craft-repair        Own-child
         >50K       Married-civ-spouse                   ?          Husband
         <=50K                Divorced     Exec-managerial    Not-in-family
         <=50K      Married-civ-spouse        Craft-repair          Husband
...                                ...                 ...              ...
 Female  <=50K           Never-married                   ?    Not-in-family
 Male    >50K       Married-civ-spouse      Prof-specialty          Husband
         >50K       Married-civ-spouse     Exec-managerial          Husband
 Female  <=50K                Divorced        Adm-clerical        Unmarried
 Male    <=50K           Never-married     Protective-serv        Own-child
 Female  >50K            Never-married     Exec-managerial    Not-in-family
 Male    <=50K           Never-married        Craft-repair    Not-in-family
 Female  >50K                 Divorced      Prof-specialty        Unmarried
 Male    >50K       Married-civ-spouse                   ?          Husband
 Female  <=50K               Separated        Adm-clerical        Own-child
         <=50K               Separated                   ?    Not-in-family
 Male    <=50K      Married-civ-spouse                   ?          Husband
 Female  <=50K                Divorced      Prof-specialty        Unmarried
         <=50K                Divorced       Other-service    Not-in-family
         >50K       Married-civ-spouse        Adm-clerical             Wife
         <=50K                Divorced        Tech-support    Not-in-family
 Male    <=50K      Married-civ-spouse   Machine-op-inspct          Husband
         <=50K           Never-married      Prof-specialty    Not-in-family
 Female  <=50K                Divorced        Adm-clerical   Other-relative
 Male    <=50K      Married-civ-spouse        Craft-repair          Husband
         <=50K      Married-civ-spouse   Handlers-cleaners          Husband
         <=50K      Married-civ-spouse               Sales          Husband
         <=50K           Never-married        Tech-support    Not-in-family
         >50K       Married-civ-spouse     Exec-managerial          Husband
         <=50K           Never-married     Protective-serv    Not-in-family
 Female  <=50K      Married-civ-spouse        Tech-support             Wife
 Male    >50K       Married-civ-spouse   Machine-op-inspct          Husband
 Female  <=50K                 Widowed        Adm-clerical        Unmarried
 Male    <=50K           Never-married        Adm-clerical        Own-child
 Female  >50K       Married-civ-spouse     Exec-managerial             Wife

                               race  cap-gain  cap-loss  hour/week
sex     salary
 Male    <=50K                White      2174         0         40
         <=50K                White         0         0         13
         <=50K                White         0         0         40
         <=50K                Black         0         0         40
 Female  <=50K                Black         0         0         40
         <=50K                White         0         0         40
         <=50K                Black         0         0         16
 Male    >50K                 White         0         0         45
 Female  >50K                 White     14084         0         50
 Male    >50K                 White      5178         0         40
         >50K                 Black         0         0         80
         >50K    Asian-Pac-Islander         0         0         40
 Female  <=50K                White         0         0         30
 Male    <=50K                Black         0         0         50
         >50K    Asian-Pac-Islander         0         0         40
         <=50K   Amer-Indian-Eskimo         0         0         45
         <=50K                White         0         0         35
         <=50K                White         0         0         40
         <=50K                White         0         0         50
 Female  >50K                 White         0         0         45
 Male    >50K                 White         0         0         60
 Female  <=50K                Black         0         0         20
 Male    <=50K                Black         0         0         40
         <=50K                White         0      2042         40
 Female  <=50K                White         0         0         40
 Male    >50K                 White         0         0         40
         <=50K                White         0         0         40
         >50K    Asian-Pac-Islander         0         0         60
         <=50K                White         0         0         80
         <=50K                White         0         0         40
...                             ...       ...       ...        ...
 Female  <=50K   Asian-Pac-Islander         0         0         99
 Male    >50K                 White         0         0         60
         >50K    Asian-Pac-Islander         0         0         50
 Female  <=50K                White         0         0         39
 Male    <=50K                Black         0         0         35
 Female  >50K                 White         0         0         55
 Male    <=50K                Black         0         0         46
 Female  >50K                 Black     15020         0         45
 Male    >50K                 White         0         0         10
 Female  <=50K                White         0         0         40
         <=50K                Black         0         0         32
 Male    <=50K                White         0         0         25
 Female  <=50K                White         0         0         48
         <=50K                Other         0         0         30
         >50K                 White         0         0         20
         <=50K                White         0         0         40
 Male    <=50K                White         0         0         40
         <=50K                White      1086         0         60
 Female  <=50K                White         0         0         40
 Male    <=50K                White         0         0         50
         <=50K   Amer-Indian-Eskimo         0         0         40
         <=50K                White         0         0         45
         <=50K   Asian-Pac-Islander         0         0         11
         >50K                 White         0         0         40
         <=50K                White         0         0         40
 Female  <=50K                White         0         0         38
 Male    >50K                 White         0         0         40
 Female  <=50K                White         0         0         40
 Male    <=50K                White         0         0         20
 Female  >50K                 White     15024         0         40

[32561 rows x 12 columns]

In [44]:
df.head(30)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,salary
country,,,,,,,,,,,,,,
United-States,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,<=50K
United-States,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,<=50K
United-States,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,<=50K
United-States,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,<=50K
Cuba,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,<=50K
United-States,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,<=50K
Jamaica,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,<=50K
United-States,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,>50K
United-States,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,>50K
United-States,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,>50K
United-States,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,>50K
India,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
United-States,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,<=50K
United-States,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,<=50K
?,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
Mexico,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,<=50K
United-States,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,<=50K
United-States,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,<=50K
United-States,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,<=50K
United-States,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,>50K
United-States,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,>50K
United-States,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,<=50K
United-States,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,<=50K
United-States,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,<=50K
United-States,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,<=50K
United-States,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,>50K
United-States,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,<=50K
South,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,>50K
United-States,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,<=50K
United-States,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,<=50K

In [45]:
df.set_index('age')

,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,salary
age,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,<=50K
37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,<=50K
49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,<=50K
52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,>50K
31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,>50K
42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,>50K
37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,>50K
30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,<=50K
32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,<=50K
40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,>50K
34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,<=50K
25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,<=50K
32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,<=50K
38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,<=50K
43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,>50K
40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,>50K
54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,<=50K
35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,<=50K
43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,<=50K
59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,<=50K
56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,>50K
19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,<=50K
54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,>50K
39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,<=50K
49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,<=50K
34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,>50K
54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,>50K
37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,<=50K
22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,<=50K
34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,>50K
30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,<=50K
38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,>50K
71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,>50K
45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,<=50K
41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,<=50K
72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,<=50K
45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,<=50K
31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,<=50K
39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,>50K
37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,<=50K
43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,<=50K
65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,<=50K
43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,<=50K
43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,<=50K
32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,<=50K
43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,<=50K
32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,<=50K
53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,>50K
22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,<=50K
27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,<=50K
40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,>50K
58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,<=50K
22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,<=50K
52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,>50K

In [48]:
df.set_index(['sex','salary'])

                age          workclass  fnlwgt      education  edu-num  \
sex     salary
 Male    <=50K   39          State-gov   77516      Bachelors       13
         <=50K   50   Self-emp-not-inc   83311      Bachelors       13
         <=50K   38            Private  215646        HS-grad        9
         <=50K   53            Private  234721           11th        7
 Female  <=50K   28            Private  338409      Bachelors       13
         <=50K   37            Private  284582        Masters       14
         <=50K   49            Private  160187            9th        5
 Male    >50K    52   Self-emp-not-inc  209642        HS-grad        9
 Female  >50K    31            Private   45781        Masters       14
 Male    >50K    42            Private  159449      Bachelors       13
         >50K    37            Private  280464   Some-college       10
         >50K    30          State-gov  141297      Bachelors       13
 Female  <=50K   23            Private  122272      Bachelors       13
 Male    <=50K   32            Private  205019     Assoc-acdm       12
         >50K    40            Private  121772      Assoc-voc       11
         <=50K   34            Private  245487        7th-8th        4
         <=50K   25   Self-emp-not-inc  176756        HS-grad        9
         <=50K   32            Private  186824        HS-grad        9
         <=50K   38            Private   28887           11th        7
 Female  >50K    43   Self-emp-not-inc  292175        Masters       14
 Male    >50K    40            Private  193524      Doctorate       16
 Female  <=50K   54            Private  302146        HS-grad        9
 Male    <=50K   35        Federal-gov   76845            9th        5
         <=50K   43            Private  117037           11th        7
 Female  <=50K   59            Private  109015        HS-grad        9
 Male    >50K    56          Local-gov  216851      Bachelors       13
         <=50K   19            Private  168294        HS-grad        9
         >50K    54                  ?  180211   Some-college       10
         <=50K   39            Private  367260        HS-grad        9
         <=50K   49            Private  193366        HS-grad        9
...             ...                ...     ...            ...      ...
 Female  <=50K   30                  ?   33811      Bachelors       13
 Male    >50K    34            Private  204461      Doctorate       16
         >50K    54            Private  337992      Bachelors       13
 Female  <=50K   37            Private  179137   Some-college       10
 Male    <=50K   22            Private  325033           12th        8
 Female  >50K    34            Private  160216      Bachelors       13
 Male    <=50K   30            Private  345898        HS-grad        9
 Female  >50K    38            Private  139180      Bachelors       13
 Male    >50K    71                  ?  287372      Doctorate       16
 Female  <=50K   45          State-gov  252208        HS-grad        9
         <=50K   41                  ?  202822        HS-grad        9
 Male    <=50K   72                  ?  129912        HS-grad        9
 Female  <=50K   45          Local-gov  119199     Assoc-acdm       12
         <=50K   31            Private  199655        Masters       14
         >50K    39          Local-gov  111499     Assoc-acdm       12
         <=50K   37            Private  198216     Assoc-acdm       12
 Male    <=50K   43            Private  260761        HS-grad        9
         <=50K   65   Self-emp-not-inc   99359    Prof-school       15
 Female  <=50K   43          State-gov  255835   Some-college       10
 Male    <=50K   43   Self-emp-not-inc   27242   Some-college       10
         <=50K   32            Private   34066           10th        6
         <=50K   43            Private   84661      Assoc-voc       11
         <=50K   32            Private  116138        Masters       14
         >50K    53            Private  321865        Masters       14
         <=50K   22            Private  310152   Some-college       10
 Female  <=50K   27            Private  257302     Assoc-acdm       12
 Male    >50K    40            Private  154374        HS-grad        9
 Female  <=50K   58            Private  151910        HS-grad        9
 Male    <=50K   22            Private  201490        HS-grad        9
 Female  >50K    52       Self-emp-inc  287927        HS-grad        9

                        marital-status          occupation     relationship  \
sex     salary
 Male    <=50K           Never-married        Adm-clerical    Not-in-family
         <=50K      Married-civ-spouse     Exec-managerial          Husband
         <=50K                Divorced   Handlers-cleaners    Not-in-family
         <=50K      Married-civ-spouse   Handlers-cleaners          Husband
 Female  <=50K      Married-civ-spouse      Prof-specialty             Wife
         <=50K      Married-civ-spouse     Exec-managerial             Wife
         <=50K   Married-spouse-absent       Other-service    Not-in-family
 Male    >50K       Married-civ-spouse     Exec-managerial          Husband
 Female  >50K            Never-married      Prof-specialty    Not-in-family
 Male    >50K       Married-civ-spouse     Exec-managerial          Husband
         >50K       Married-civ-spouse     Exec-managerial          Husband
         >50K       Married-civ-spouse      Prof-specialty          Husband
 Female  <=50K           Never-married        Adm-clerical        Own-child
 Male    <=50K           Never-married               Sales    Not-in-family
         >50K       Married-civ-spouse        Craft-repair          Husband
         <=50K      Married-civ-spouse    Transport-moving          Husband
         <=50K           Never-married     Farming-fishing        Own-child
         <=50K           Never-married   Machine-op-inspct        Unmarried
         <=50K      Married-civ-spouse               Sales          Husband
 Female  >50K                 Divorced     Exec-managerial        Unmarried
 Male    >50K       Married-civ-spouse      Prof-specialty          Husband
 Female  <=50K               Separated       Other-service        Unmarried
 Male    <=50K      Married-civ-spouse     Farming-fishing          Husband
         <=50K      Married-civ-spouse    Transport-moving          Husband
 Female  <=50K                Divorced        Tech-support        Unmarried
 Male    >50K       Married-civ-spouse        Tech-support          Husband
         <=50K           Never-married        Craft-repair        Own-child
         >50K       Married-civ-spouse                   ?          Husband
         <=50K                Divorced     Exec-managerial    Not-in-family
         <=50K      Married-civ-spouse        Craft-repair          Husband
...                                ...                 ...              ...
 Female  <=50K           Never-married                   ?    Not-in-family
 Male    >50K       Married-civ-spouse      Prof-specialty          Husband
         >50K       Married-civ-spouse     Exec-managerial          Husband
 Female  <=50K                Divorced        Adm-clerical        Unmarried
 Male    <=50K           Never-married     Protective-serv        Own-child
 Female  >50K            Never-married     Exec-managerial    Not-in-family
 Male    <=50K           Never-married        Craft-repair    Not-in-family
 Female  >50K                 Divorced      Prof-specialty        Unmarried
 Male    >50K       Married-civ-spouse                   ?          Husband
 Female  <=50K               Separated        Adm-clerical        Own-child
         <=50K               Separated                   ?    Not-in-family
 Male    <=50K      Married-civ-spouse                   ?          Husband
 Female  <=50K                Divorced      Prof-specialty        Unmarried
         <=50K                Divorced       Other-service    Not-in-family
         >50K       Married-civ-spouse        Adm-clerical             Wife
         <=50K                Divorced        Tech-support    Not-in-family
 Male    <=50K      Married-civ-spouse   Machine-op-inspct          Husband
         <=50K           Never-married      Prof-specialty    Not-in-family
 Female  <=50K                Divorced        Adm-clerical   Other-relative
 Male    <=50K      Married-civ-spouse        Craft-repair          Husband
         <=50K      Married-civ-spouse   Handlers-cleaners          Husband
         <=50K      Married-civ-spouse               Sales          Husband
         <=50K           Never-married        Tech-support    Not-in-family
         >50K       Married-civ-spouse     Exec-managerial          Husband
         <=50K           Never-married     Protective-serv    Not-in-family
 Female  <=50K      Married-civ-spouse        Tech-support             Wife
 Male    >50K       Married-civ-spouse   Machine-op-inspct          Husband
 Female  <=50K                 Widowed        Adm-clerical        Unmarried
 Male    <=50K           Never-married        Adm-clerical        Own-child
 Female  >50K       Married-civ-spouse     Exec-managerial             Wife

                               race  cap-gain  cap-loss  hour/week
sex     salary
 Male    <=50K                White      2174         0         40
         <=50K                White         0         0         13
         <=50K                White         0         0         40
         <=50K                Black         0         0         40
 Female  <=50K                Black         0         0         40
         <=50K                White         0         0         40
         <=50K                Black         0         0         16
 Male    >50K                 White         0         0         45
 Female  >50K                 White     14084         0         50
 Male    >50K                 White      5178         0         40
         >50K                 Black         0         0         80
         >50K    Asian-Pac-Islander         0         0         40
 Female  <=50K                White         0         0         30
 Male    <=50K                Black         0         0         50
         >50K    Asian-Pac-Islander         0         0         40
         <=50K   Amer-Indian-Eskimo         0         0         45
         <=50K                White         0         0         35
         <=50K                White         0         0         40
         <=50K                White         0         0         50
 Female  >50K                 White         0         0         45
 Male    >50K                 White         0         0         60
 Female  <=50K                Black         0         0         20
 Male    <=50K                Black         0         0         40
         <=50K                White         0      2042         40
 Female  <=50K                White         0         0         40
 Male    >50K                 White         0         0         40
         <=50K                White         0         0         40
         >50K    Asian-Pac-Islander         0         0         60
         <=50K                White         0         0         80
         <=50K                White         0         0         40
...                             ...       ...       ...        ...
 Female  <=50K   Asian-Pac-Islander         0         0         99
 Male    >50K                 White         0         0         60
         >50K    Asian-Pac-Islander         0         0         50
 Female  <=50K                White         0         0         39
 Male    <=50K                Black         0         0         35
 Female  >50K                 White         0         0         55
 Male    <=50K                Black         0         0         46
 Female  >50K                 Black     15020         0         45
 Male    >50K                 White         0         0         10
 Female  <=50K                White         0         0         40
         <=50K                Black         0         0         32
 Male    <=50K                White         0         0         25
 Female  <=50K                White         0         0         48
         <=50K                Other         0         0         30
         >50K                 White         0         0         20
         <=50K                White         0         0         40
 Male    <=50K                White         0         0         40
         <=50K                White      1086         0         60
 Female  <=50K                White         0         0         40
 Male    <=50K                White         0         0         50
         <=50K   Amer-Indian-Eskimo         0         0         40
         <=50K                White         0         0         45
         <=50K   Asian-Pac-Islander         0         0         11
         >50K                 White         0         0         40
         <=50K                White         0         0         40
 Female  <=50K                White         0         0         38
 Male    >50K                 White         0         0         40
 Female  <=50K                White         0         0         40
 Male    <=50K                White         0         0         20
 Female  >50K                 White     15024         0         40

[32561 rows x 12 columns]

# .apply() method on single column

In [5]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [6]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df['salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [8]:
def encodeSalary(salary):
    if salary == ' <=50K':
        return '1'
    else:
        return '2'

In [11]:
df['encoded_salary'] = df['salary'].apply(encodeSalary)

In [13]:
df.head(10)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,encoded_salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,1
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,1
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,1
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,2
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,2
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,2

# .apply() method on multiple column

In [23]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [25]:
df.head(8)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

In [26]:
def desc(row):
    age = row[0]
    sex = row[9]
    salary = row[14]
    temp= sex + ' earning ' + salary + '$'
    return temp

In [28]:
df['Description'] = df.apply(func=desc, axis='columns')

In [29]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary,Description
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Male earning <=50K$
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Male earning <=50K$
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Male earning <=50K$
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Male earning <=50K$
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Female earning <=50K$

# Random Sample

In [31]:
names = ["age","workclass","fnlwgt","education","edu-num","marital-status","occupation","relationship","race","sex","cap-gain","cap-loss","hour/week","country","salary"]
df = pd.read_csv('adult.data.csv', header=None, names=names)

In [32]:
df.head()

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [33]:
len(df)

32561

In [36]:
df.sample(n = 1)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
24400,44,Private,104196,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K

In [37]:
df.sample(n = 4)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
26210,39,Private,356838,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,12,United-States,<=50K
31966,53,State-gov,229465,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
17491,19,Private,168693,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,0,25,United-States,<=50K
17789,42,Self-emp-not-inc,201908,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,50,United-States,>50K

In [39]:
df.sample(frac=0.1)

,age,workclass,fnlwgt,education,edu-num,marital-status,occupation,relationship,race,sex,cap-gain,cap-loss,hour/week,country,salary
8018,30,Private,177522,HS-grad,9,Married-civ-spouse,Adm-clerical,Own-child,White,Female,0,0,20,United-States,<=50K
3018,21,Private,231866,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,65,United-States,<=50K
11171,46,Private,54985,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,1887,40,United-States,>50K
4978,45,Private,339863,Bachelors,13,Divorced,Sales,Not-in-family,White,Male,8614,0,48,United-States,>50K
20938,21,?,205940,Some-college,10,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K
28577,43,Federal-gov,222756,Masters,14,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22002,32,Private,228357,Assoc-voc,11,Divorced,Other-service,Unmarried,White,Female,0,0,40,?,<=50K
28893,37,Private,212465,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29435,45,Self-emp-inc,121124,Prof-school,15,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,>50K
4733,29,Private,228075,HS-grad,9,Never-married,Adm-clerical,Unmarried,White,Male,0,0,35,Mexico,<=50K
26826,42,Private,34278,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K
20246,55,Self-emp-not-inc,147098,9th,5,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
18046,31,Self-emp-not-inc,119411,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,50,United-States,<=50K
272,50,Self-emp-not-inc,30653,Masters,14,Married-civ-spouse,Farming-fishing,Husband,White,Male,2407,0,98,United-States,<=50K
24817,32,Local-gov,95530,Some-college,10,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
32184,46,Private,118419,HS-grad,9,Divorced,Machine-op-inspct,Unmarried,White,Male,0,0,38,United-States,<=50K
476,17,Private,211870,9th,5,Never-married,Other-service,Not-in-family,White,Male,0,0,6,United-States,<=50K
22215,19,Without-pay,43887,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,10,United-States,<=50K
4916,47,Private,30457,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
26599,19,?,278220,Some-college,10,Never-married,?,Own-child,White,Female,0,1602,40,United-States,<=50K
23468,21,Private,202871,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,44,United-States,<=50K
15342,31,Private,509364,5th-6th,3,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,45,Mexico,<=50K
1574,49,?,261059,10th,6,Separated,?,Own-child,White,Male,2176,0,40,United-States,<=50K
2798,35,Private,25955,11th,7,Never-married,Other-service,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
20499,37,Private,245482,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,Asian-Pac-Islander,Male,0,0,40,?,<=50K
28556,34,Private,113838,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States,<=50K
10179,43,Self-emp-inc,35662,Doctorate,16,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,70,United-States,>50K
8117,35,Self-emp-not-inc,198841,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
32511,25,Local-gov,514716,Bachelors,13,Never-married,Adm-clerical,Own-child,Black,Female,0,0,40,United-States,<=50K
12282,28,Private,239539,HS-grad,9,Married-spouse-absent,Machine-op-inspct,Own-child,Asian-Pac-Islander,Male,0,0,40,Philippines,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5289,36,Private,373952,10th,6,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
25278,46,Local-gov,441542,Bachelors,13,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,United-States,<=50K
6816,47,Local-gov,321851,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
16723,21,State-gov,151790,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
12599,49,Private,176814,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,5178,0,40,United-States,>50K
12352,52,Private,169182,9th,5,Widowed,Other-service,Not-in-family,White,Female,0,0,25,Puerto-Rico,<=50K
18098,45,Federal-gov,71823,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,20,United-States,<=50K
9789,23,Private,201145,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,<=50K
21885,40,Private,225660,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,45,United-States,>50K
14248,39,Self-emp-inc,206253,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,United-States,<=50K
24108,41,Private,344624,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,>50K
10339,36,Private,135289,Bachelors,13,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States,>50K
26478,59,Self-emp-not-inc,75804,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,65,United-States,>50K
13538,28,Private,47168,10th,6,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States,<=50K
16957,31,Private,306459,1st-4th,2,Separated,Handlers-cleaners,Unmarried,White,Male,0,0,35,Honduras,<=50K
28762,25,Private,307643,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K
22511,51,Private,173291,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
5845,47,Private,201127,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K
22912,23,Local-gov,197918,Some-college,10,Never-married,Protective-serv,Own-child,White,Male,0,0,40,United-States,>50K
10269,40,Self-emp-not-inc,284706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Amer-Indian-Eskimo,Male,0,1977,60,United-States,>50K
5042,25,Private,371987,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
30946,31,Private,57781,HS-grad,9,Divorced,Adm-clerical,Unmarried,White,Female,0,0,50,United-States,<=50K
31092,40,Private,190044,Assoc-acdm,12,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
26979,38,Private,300975,Masters,14,Married-civ-spouse,Other-service,Husband,Black,Male,0,1485,40,?,<=50K
7944,54,Private,123011,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K
13177,20,?,58740,Some-college,10,Never-married,?,Own-child,White,Male,0,0,15,United-States,<=50K
27983,46,Private,122026,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32093,62,?,263374,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,0,0,40,Canada,<=50K
16769,23,State-gov,215443,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,15,United-States,<=50K
880,49,Private,72393,9th,5,Divorced,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K