In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

# Grouping Data

In [5]:
import pandas as pd

In [7]:
data = pd.read_csv('sales_data_sample-edited.csv')

In [8]:
data.head()

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,TERRITORY,DEALSIZE
0,30,95.70,2871.00,Shipped,2,2003,Motorcycles,Land of Toys Inc.,NYC,USA,NaN,Small
1,34,81.35,2765.90,Shipped,5,2003,Motorcycles,Reims Collectables,Reims,France,EMEA,Small
2,41,94.74,3884.34,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium
3,45,83.26,3746.70,Shipped,8,2003,Motorcycles,Toys4GrownUps.com,Pasadena,USA,NaN,Medium
4,49,100.00,5205.27,Shipped,10,2003,Motorcycles,Corporate Gift Ideas Co.,San Francisco,USA,NaN,Medium

In [9]:
data.columns

Index(['QUANTITYORDERED', 'PRICEEACH', 'SALES', 'STATUS', 'MONTH_ID',
       'YEAR_ID', 'PRODUCTLINE', 'CUSTOMERNAME', 'CITY', 'COUNTRY',
       'TERRITORY', 'DEALSIZE'],
      dtype='object')

# Get Group Method

In [10]:
data.head(3)

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,TERRITORY,DEALSIZE
0,30,95.70,2871.00,Shipped,2,2003,Motorcycles,Land of Toys Inc.,NYC,USA,NaN,Small
1,34,81.35,2765.90,Shipped,5,2003,Motorcycles,Reims Collectables,Reims,France,EMEA,Small
2,41,94.74,3884.34,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium

In [11]:
data['COUNTRY'].nunique()

19

In [16]:
country_usa = data[data['COUNTRY'] == 'USA']
country_france = data[data['COUNTRY'] == 'France']
country_india = data[data['COUNTRY'] == 'India']

In [18]:
group_country = data.groupby('COUNTRY')

In [23]:
group_country.get_group('USA')
group_country.get_group('France')
#group_country.get_group('India')

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,TERRITORY,DEALSIZE
1,34,81.35,2765.90,Shipped,5,2003,Motorcycles,Reims Collectables,Reims,France,EMEA,Small
2,41,94.74,3884.34,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium
6,29,86.13,2497.77,Shipped,11,2003,Motorcycles,Daedalus Designs Imports,Lille,France,EMEA,Small
9,41,100.00,4708.44,Shipped,1,2004,Motorcycles,Auto Canal Petit,Paris,France,EMEA,Medium
14,45,92.83,4177.35,Shipped,7,2004,Motorcycles,La Rochelle Gifts,Nantes,France,EMEA,Medium
22,21,34.91,733.11,Shipped,2,2005,Motorcycles,La Rochelle Gifts,Nantes,France,EMEA,Small
34,42,100.00,7290.36,Shipped,11,2003,Classic Cars,"Saveley & Henriot, Co.",Lyon,France,EMEA,Large
43,47,100.00,10172.70,Shipped,10,2004,Classic Cars,Auto Assoc. & Cie.,Versailles,France,EMEA,Large
56,27,100.00,3307.77,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium
60,42,100.00,4695.60,Shipped,11,2003,Motorcycles,Daedalus Designs Imports,Lille,France,EMEA,Medium
68,22,100.00,2904.44,Shipped,7,2004,Motorcycles,La Rochelle Gifts,Nantes,France,EMEA,Small
70,39,96.34,3757.26,Shipped,9,2004,Motorcycles,Atelier graphique,Nantes,France,EMEA,Medium
78,45,100.00,5833.80,Shipped,4,2005,Motorcycles,Auto Canal Petit,Paris,France,EMEA,Medium
82,31,100.00,7023.98,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Large
86,41,100.00,8892.90,Shipped,11,2003,Motorcycles,Daedalus Designs Imports,Lille,France,EMEA,Large
94,36,100.00,6901.92,Shipped,7,2004,Motorcycles,La Rochelle Gifts,Nantes,France,EMEA,Medium
112,24,100.00,3492.48,Shipped,11,2003,Classic Cars,Alpha Cognac,Toulouse,France,EMEA,Medium
127,48,54.68,2624.64,Shipped,12,2004,Classic Cars,Reims Collectables,Reims,France,EMEA,Small
130,32,100.00,3370.56,Shipped,3,2005,Classic Cars,Lyon Souveniers,Paris,France,EMEA,Medium
134,31,100.00,4305.28,Shipped,4,2003,Classic Cars,"La Corne D'abondance, Co.",Paris,France,EMEA,Medium
141,26,100.00,4263.74,Shipped,11,2003,Classic Cars,"Saveley & Henriot, Co.",Lyon,France,EMEA,Medium
160,38,100.00,5894.94,In Process,5,2005,Classic Cars,La Rochelle Gifts,Nantes,France,EMEA,Medium
162,42,100.00,7599.90,Shipped,5,2003,Classic Cars,Marseille Mini Autos,Marseille,France,EMEA,Large
170,41,100.00,7498.90,Shipped,1,2004,Classic Cars,Auto Canal Petit,Paris,France,EMEA,Large
183,45,76.00,3420.00,Shipped,2,2005,Classic Cars,La Rochelle Gifts,Nantes,France,EMEA,Medium
195,46,100.00,8602.92,Shipped,1,2004,Classic Cars,"Saveley & Henriot, Co.",Lyon,France,EMEA,Large
205,33,57.22,1888.26,Shipped,11,2004,Classic Cars,"La Corne D'abondance, Co.",Paris,France,EMEA,Small
207,42,100.00,4764.48,Shipped,12,2004,Classic Cars,Reims Collectables,Reims,France,EMEA,Medium
210,33,69.12,2280.96,Shipped,3,2005,Classic Cars,Lyon Souveniers,Paris,France,EMEA,Small
220,38,100.00,4933.92,Shipped,11,2003,Trucks and Buses,"Saveley & Henriot, Co.",Lyon,France,EMEA,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
2567,22,87.75,1930.50,Shipped,11,2003,Planes,Alpha Cognac,Toulouse,France,EMEA,Small
2574,39,100.00,4472.52,Shipped,7,2004,Planes,La Rochelle Gifts,Nantes,France,EMEA,Medium
2583,33,100.00,3856.71,Shipped,2,2005,Planes,La Rochelle Gifts,Nantes,France,EMEA,Medium
2585,22,86.76,1908.72,Shipped,3,2005,Planes,Reims Collectables,Reims,France,EMEA,Small
2597,46,74.45,3424.70,Shipped,1,2004,Ships,"Saveley & Henriot, Co.",Lyon,France,EMEA,Medium
2612,22,66.50,1463.00,Shipped,3,2005,Ships,Alpha Cognac,Toulouse,France,EMEA,Small
2615,42,100.00,4758.18,Shipped,4,2003,Classic Cars,"La Corne D'abondance, Co.",Paris,France,EMEA,Medium
2622,26,89.01,2314.26,Shipped,11,2003,Classic Cars,"Saveley & Henriot, Co.",Lyon,France,EMEA,Small
2631,40,100.00,4208.00,Shipped,10,2004,Classic Cars,Auto Assoc. & Cie.,Versailles,France,EMEA,Medium
2634,46,100.00,9558.80,Shipped,11,2004,Classic Cars,"La Corne D'abondance, Co.",Paris,France,EMEA,Large
2652,48,100.00,6378.72,Shipped,7,2004,Planes,La Rochelle Gifts,Nantes,France,EMEA,Medium
2661,25,66.73,1668.25,Shipped,2,2005,Planes,La Rochelle Gifts,Nantes,France,EMEA,Small
2663,23,100.00,2810.83,Shipped,3,2005,Planes,Reims Collectables,Reims,France,EMEA,Small
2677,43,73.60,3164.80,Shipped,7,2004,Planes,La Rochelle Gifts,Nantes,France,EMEA,Medium
2686,44,100.00,5208.72,Shipped,2,2005,Planes,La Rochelle Gifts,Nantes,France,EMEA,Medium
2688,29,65.60,1902.40,Shipped,3,2005,Planes,Reims Collectables,Reims,France,EMEA,Small
2700,37,100.00,4447.40,Shipped,1,2004,Ships,"Saveley & Henriot, Co.",Lyon,France,EMEA,Medium
2709,31,86.15,2670.65,Shipped,10,2004,Ships,La Rochelle Gifts,Nantes,France,EMEA,Small
2715,48,100.00,5192.64,Shipped,3,2005,Ships,Alpha Cognac,Toulouse,France,EMEA,Medium
2726,33,85.41,2818.53,Shipped,1,2004,Ships,"Saveley & Henriot, Co.",Lyon,France,EMEA,Small
2735,37,91.37,3380.69,Shipped,10,2004,Ships,La Rochelle Gifts,Nantes,France,EMEA,Medium
2741,36,100.00,3789.72,Shipped,3,2005,Ships,Alpha Cognac,Toulouse,France,EMEA,Medium
2749,45,76.25,3431.25,Shipped,11,2003,Planes,Alpha Cognac,Toulouse,France,EMEA,Medium
2756,31,72.55,2249.05,Shipped,7,2004,Planes,La Rochelle Gifts,Nantes,France,EMEA,Small
2767,36,87.36,3144.96,Shipped,3,2005,Planes,Reims Collectables,Reims,France,EMEA,Medium
2776,45,51.15,2301.75,Shipped,11,2003,Planes,Alpha Cognac,Toulouse,France,EMEA,Small
2794,34,40.22,1367.48,Shipped,3,2005,Planes,Reims Collectables,Reims,France,EMEA,Small
2806,42,63.88,2682.96,Shipped,1,2004,Ships,"Saveley & Henriot, Co.",Lyon,France,EMEA,Small
2815,40,55.69,2227.60,Shipped,10,2004,Ships,La Rochelle Gifts,Nantes,France,EMEA,Small
2821,34,62.24,2116.16,Shipped,3,2005,Ships,Alpha Cognac,Toulouse,France,EMEA,Small

In [24]:
type(group_country)

pandas.core.groupby.groupby.DataFrameGroupBy

# Size, First and Last Method

In [26]:
type(group_country.get_group('USA'))

pandas.core.frame.DataFrame

In [31]:
len(group_country.get_group('USA'))
len(group_country.get_group('France'))

314

In [29]:
group_country.size()

COUNTRY
Australia       185
Austria          55
Belgium          33
Canada           70
Denmark          63
Finland          92
France          314
Germany          62
Ireland          16
Italy           113
Japan            52
Norway           85
Philippines      26
Singapore        79
Spain           342
Sweden           57
Switzerland      31
UK              144
USA            1004
dtype: int64

In [33]:
group_country.first()

19

In [34]:
group_country.last()

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,TERRITORY,DEALSIZE
COUNTRY,,,,,,,,,,,
Australia,42,57.61,2419.62,Disputed,5,2005,Planes,"Australian Collectables, Ltd",Glen Waverly,APAC,Small
Austria,28,48.17,1348.76,Shipped,4,2003,Planes,Salzburg Collectables,Salzburg,EMEA,Small
Belgium,37,45.86,1696.82,Shipped,7,2004,Ships,Petit Auto,Bruxelles,EMEA,Small
Canada,33,51.32,1693.56,Shipped,8,2004,Ships,"Royal Canadian Collectables, Ltd.",Tsawassen,NaN,Small
Denmark,37,86.74,3209.38,Resolved,11,2004,Ships,Danish Wholesale Imports,Kobenhavn,EMEA,Medium
Finland,29,100.00,3978.51,Shipped,1,2005,Ships,"Oulu Toy Supplies, Inc.",Oulu,EMEA,Medium
France,34,62.24,2116.16,Shipped,3,2005,Ships,Alpha Cognac,Toulouse,EMEA,Small
Germany,21,45.19,948.99,Shipped,9,2004,Planes,"Bavarian Collectables Imports, Co.",Munich,EMEA,Small
Ireland,35,100.00,3986.50,Shipped,9,2004,Planes,"Clover Collections, Co.",Dublin,EMEA,Medium
Italy,32,60.06,1921.92,Shipped,9,2004,Ships,Amica Models & Co.,Torino,EMEA,Small
Japan,27,76.31,2060.37,Shipped,11,2004,Planes,"Tokyo Collectables, Ltd",Minato-ku,Japan,Small
Norway,32,64.41,2061.12,Shipped,8,2004,Planes,"Norway Gifts By Mail, Co.",Oslo,EMEA,Small
Philippines,40,63.67,2546.80,Shipped,11,2003,Planes,Cruz & Sons Co.,Makati City,Japan,Small
Singapore,50,43.68,2184.00,Shipped,4,2003,Ships,"Dragon Souveniers, Ltd.",Singapore,Japan,Small
Spain,43,100.00,5417.57,Resolved,3,2005,Ships,Euro Shopping Channel,Madrid,EMEA,Medium
Sweden,38,48.59,1846.42,Cancelled,10,2003,Ships,Scandinavian Gift Ideas,Boras,EMEA,Small
Switzerland,40,88.12,3524.80,Shipped,8,2004,Classic Cars,"Vida Sport, Ltd",Gensve,EMEA,Medium
UK,35,59.51,2082.85,Shipped,10,2004,Ships,"AV Stores, Co.",Manchester,EMEA,Small
USA,47,65.52,3079.44,On Hold,5,2005,Ships,Gifts4AllAges.com,Boston,NaN,Medium

# Sum, Mean, Max, Min Method

In [35]:
data.head(3)

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,TERRITORY,DEALSIZE
0,30,95.70,2871.00,Shipped,2,2003,Motorcycles,Land of Toys Inc.,NYC,USA,NaN,Small
1,34,81.35,2765.90,Shipped,5,2003,Motorcycles,Reims Collectables,Reims,France,EMEA,Small
2,41,94.74,3884.34,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium

In [39]:
group_country.get_group('USA').sum()['SALES']

3627982.83

In [41]:
group_country.sum()['SALES']

COUNTRY
Australia       630623.10
Austria         202062.53
Belgium         108412.62
Canada          224078.56
Denmark         245637.15
Finland         329581.91
France         1110916.52
Germany         220472.09
Ireland          57756.43
Italy           374674.31
Japan           188167.81
Norway          307463.70
Philippines      94015.73
Singapore       288488.41
Spain          1215686.92
Sweden          210014.21
Switzerland     117713.56
UK              478880.46
USA            3627982.83
Name: SALES, dtype: float64

In [44]:
group_country.get_group('USA').mean()['SALES']
group_country.get_group('Australia').mean()['SALES']

3408.773513513514

In [43]:
group_country.mean()['SALES']

COUNTRY
Australia      3408.773514
Austria        3673.864182
Belgium        3285.230909
Canada         3201.122286
Denmark        3899.002381
Finland        3582.412065
France         3537.950701
Germany        3556.001452
Ireland        3609.776875
Italy          3315.701858
Japan          3618.611731
Norway         3617.220000
Philippines    3615.989615
Singapore      3651.752025
Spain          3554.640117
Sweden         3684.459825
Switzerland    3797.211613
UK             3325.558750
USA            3613.528715
Name: SALES, dtype: float64

In [45]:
group_country.min()

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,TERRITORY,DEALSIZE
COUNTRY,,,,,,,,,,,
Australia,15,26.88,652.35,Disputed,1,2003,Classic Cars,"Anna's Decorations, Ltd",Chatswood,APAC,Large
Austria,10,42.67,640.05,Resolved,3,2003,Classic Cars,Mini Auto Werke,Graz,EMEA,Large
Belgium,10,45.86,881.40,In Process,1,2003,Classic Cars,Petit Auto,Bruxelles,EMEA,Medium
Canada,20,35.35,1119.93,Shipped,4,2003,Classic Cars,Canadian Gift Exchange Network,Montreal,NaN,Large
Denmark,20,37.13,1146.50,Disputed,2,2003,Classic Cars,Danish Wholesale Imports,Aaarhus,EMEA,Large
Finland,20,40.31,891.03,Shipped,1,2003,Classic Cars,"Oulu Toy Supplies, Inc.",Espoo,EMEA,Large
France,11,29.21,482.13,In Process,1,2003,Classic Cars,Alpha Cognac,Lille,EMEA,Large
Germany,20,31.20,948.99,Shipped,1,2003,Classic Cars,"Bavarian Collectables Imports, Co.",Frankfurt,EMEA,Large
Ireland,20,52.82,1056.40,Shipped,2,2004,Classic Cars,"Clover Collections, Co.",Dublin,EMEA,Large
Italy,15,28.88,577.60,Shipped,2,2003,Classic Cars,Amica Models & Co.,Bergamo,EMEA,Large
Japan,15,36.93,553.95,Shipped,1,2004,Classic Cars,Osaka Souveniers Co.,Minato-ku,Japan,Large
Norway,20,34.36,1129.04,Shipped,1,2003,Classic Cars,Baane Mini Imports,Bergen,EMEA,Large
Philippines,26,43.45,1173.15,Shipped,3,2003,Classic Cars,Cruz & Sons Co.,Makati City,Japan,Large
Singapore,6,29.54,785.64,Shipped,2,2003,Classic Cars,"Dragon Souveniers, Ltd.",Singapore,APAC,Large
Spain,19,31.82,683.80,Cancelled,1,2003,Classic Cars,CAF Imports,Barcelona,EMEA,Large
Sweden,20,41.71,1467.48,Cancelled,3,2003,Classic Cars,Scandinavian Gift Ideas,Boras,EMEA,Large
Switzerland,20,36.63,1205.04,Shipped,2,2004,Classic Cars,"Vida Sport, Ltd",Gensve,EMEA,Medium
UK,20,31.12,710.20,Cancelled,1,2003,Classic Cars,"AV Stores, Co.",Cowes,EMEA,Large
USA,6,27.22,541.14,Cancelled,1,2003,Classic Cars,Auto-Moto Classics Inc.,Allentown,NaN,Large

In [46]:
group_country.max()['SALES']

COUNTRY
Australia       9774.03
Austria         9240.00
Belgium         6804.63
Canada          9064.89
Denmark        10468.90
Finland        10606.20
France         11739.70
Germany         8940.96
Ireland         8258.00
Italy           9160.36
Japan          10758.00
Norway          8844.12
Philippines     7483.98
Singapore      10993.50
Spain          12001.00
Sweden          7209.11
Switzerland     6761.60
UK             11886.60
USA            14082.80
Name: SALES, dtype: float64

# .agg method

In [47]:
data.head(3)

,QUANTITYORDERED,PRICEEACH,SALES,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,CUSTOMERNAME,CITY,COUNTRY,TERRITORY,DEALSIZE
0,30,95.70,2871.00,Shipped,2,2003,Motorcycles,Land of Toys Inc.,NYC,USA,NaN,Small
1,34,81.35,2765.90,Shipped,5,2003,Motorcycles,Reims Collectables,Reims,France,EMEA,Small
2,41,94.74,3884.34,Shipped,7,2003,Motorcycles,Lyon Souveniers,Paris,France,EMEA,Medium

In [48]:
group_country.agg('sum')

             QUANTITYORDERED  PRICEEACH       SALES  MONTH_ID  YEAR_ID
COUNTRY
Australia               6246   15449.14   630623.10      1345   370706
Austria                 1974    4759.16   202062.53       383   110211
Belgium                 1074    2887.31   108412.62       188    66138
Canada                  2293    5957.05   224078.56       545   140274
Denmark                 2197    5503.89   245637.15       444   126228
Finland                 3192    7722.15   329581.91       485   184374
France                 11090   25920.87  1110916.52      1960   629233
Germany                 2148    5184.30   220472.09       525   124227
Ireland                  490    1377.98    57756.43        81    32064
Italy                   3773    9329.40   374674.31       868   226422
Japan                   1842    4290.26   188167.81       254   104218
Norway                  2842    7318.18   307463.70       710   170287
Philippines              961    2144.99    94015.73       158    52082
Singapore               2760    6581.90   288488.41       564   158278
Spain                  12429   28042.54  1215686.92      2299   685341
Sweden                  2006    4943.51   210014.21       503   114218
Switzerland             1078    2713.09   117713.56       164    62124
UK                      5013   11882.70   478880.46      1166   288533
USA                    35659   84159.65  3627982.83      7380  2011812

In [50]:
group_country.agg('sum')[['QUANTITYORDERED','SALES']]

             QUANTITYORDERED       SALES
COUNTRY
Australia               6246   630623.10
Austria                 1974   202062.53
Belgium                 1074   108412.62
Canada                  2293   224078.56
Denmark                 2197   245637.15
Finland                 3192   329581.91
France                 11090  1110916.52
Germany                 2148   220472.09
Ireland                  490    57756.43
Italy                   3773   374674.31
Japan                   1842   188167.81
Norway                  2842   307463.70
Philippines              961    94015.73
Singapore               2760   288488.41
Spain                  12429  1215686.92
Sweden                  2006   210014.21
Switzerland             1078   117713.56
UK                      5013   478880.46
USA                    35659  3627982.83

In [51]:
group_country.agg(['sum','mean'])[['QUANTITYORDERED','SALES']]

            QUANTITYORDERED                  SALES
                        sum       mean         sum         mean
COUNTRY
Australia              6246  33.762162   630623.10  3408.773514
Austria                1974  35.890909   202062.53  3673.864182
Belgium                1074  32.545455   108412.62  3285.230909
Canada                 2293  32.757143   224078.56  3201.122286
Denmark                2197  34.873016   245637.15  3899.002381
Finland                3192  34.695652   329581.91  3582.412065
France                11090  35.318471  1110916.52  3537.950701
Germany                2148  34.645161   220472.09  3556.001452
Ireland                 490  30.625000    57756.43  3609.776875
Italy                  3773  33.389381   374674.31  3315.701858
Japan                  1842  35.423077   188167.81  3618.611731
Norway                 2842  33.435294   307463.70  3617.220000
Philippines             961  36.961538    94015.73  3615.989615
Singapore              2760  34.936709   288488.41  3651.752025
Spain                 12429  36.342105  1215686.92  3554.640117
Sweden                 2006  35.192982   210014.21  3684.459825
Switzerland            1078  34.774194   117713.56  3797.211613
UK                     5013  34.812500   478880.46  3325.558750
USA                   35659  35.516932  3627982.83  3613.528715

In [52]:
req = {'QUANTITYORDERED':'mean','SALES':'sum'}
group_country.agg(req)

             QUANTITYORDERED       SALES
COUNTRY
Australia          33.762162   630623.10
Austria            35.890909   202062.53
Belgium            32.545455   108412.62
Canada             32.757143   224078.56
Denmark            34.873016   245637.15
Finland            34.695652   329581.91
France             35.318471  1110916.52
Germany            34.645161   220472.09
Ireland            30.625000    57756.43
Italy              33.389381   374674.31
Japan              35.423077   188167.81
Norway             33.435294   307463.70
Philippines        36.961538    94015.73
Singapore          34.936709   288488.41
Spain              36.342105  1215686.92
Sweden             35.192982   210014.21
Switzerland        34.774194   117713.56
UK                 34.812500   478880.46
USA                35.516932  3627982.83