In [1]:
%%HTML
<style type="text/css">
    table.dataframe td, table.dataframe th {
        border-style: solid;
        border-width: thin;
    }
</style>

# Merging & Joining DataFrame

In [2]:
import pandas as pd

In [33]:
engg = pd.read_csv('data/Engineering - Student.csv')
science = pd.read_csv('data/Science - Student.csv')
exam = pd.read_csv('data/Test - Info.csv')
student_exam = pd.read_csv('data/Student - Exam - Info.csv')

In [32]:
student_exam

    student_id  exam_id
0            8        7
1           17        1
2           33        1
3           45        4
4            3        5
5           12        8
6           12        5
7           22        8
8           48        1
9            6        4
10          17        9
11          30        8
12           3        3
13          43        7
14           7        4
15          44        8
16          16        8
17          16        3
18          43        3
19          46        7
20           3        2
21          34        6
22          43        5
23          12        1
24           9        6
25          21        3
26          13        6
27          15        8
28          43        5
29          35        3
..         ...      ...
70          25        6
71          15        4
72          27        4
73          30        8
74          24        1
75          39        2
76          46        7
77          41        3
78          36        5
79          21        8
80          50        5
81          14        8
82          44        4
83          28        3
84          15        3
85          39        2
86          36        5
87          32        3
88          23        3
89          50        1
90          43        5
91          27        2
92           4        7
93          27        5
94          18        7
95           6        6
96          29        9
97          21        4
98          42        1
99          46        4

[100 rows x 2 columns]

In [11]:
engg

             first_name    last_name
student_id
1                 Daryl       Holder
2                 Debra     Erickson
3              Kathleen        Walls
4                 Craig        Blake
5                Hakeem       Crosby
6               Donovan     Castillo
7                  Ivor   Strickland
8                Alexis      William
9               Jenette         Page
10                Wylie     Alvarado
11               Philip       Walter
12                Kalia       Ashley
13                Nolan      Meadows
14                Aidan      Stanley
15                  Ina     Bradshaw
16             Garrison       Jensen
17                 Joel       Porter
18             Fletcher       Slater
19                 Maia       Mullen
20              Isadora       Coffey
21               Nicole         Shaw
22             Mohammad      England
23               Galvin     Sheppard
24              Raymond    Henderson
25                Rinah      Charles
26                Flynn        Baird
27                Yoshi        Sweet
28             Jermaine       Slater
29               Xander        Ewing
30               Hayley       Baxter
31               Duncan     Figueroa
32                Brent      Solomon
33                Ralph        Solis
34               Reuben       Prince
35               Cooper       Cotton
36               Miriam      Flowers
37                Unity      Pollard
38              Leonard        Baird
39               Ariana      Fleming
40               Flavia       Golden
41             Lysandra        Cline
42            Aphrodite  Fitzpatrick
43                Brody        James
44                Diana      Mcclain
45                 Tate        Davis
46                Amena        Rivas
47               Jolene        Small
48                Blake      Rosario
49               Ferris     Humphrey
50          Buckminster        Sloan

# Concatenating two Data Frame

In [44]:
pd.concat([engg, science])

    student_id  first_name    last_name
0            1       Daryl       Holder
1            2       Debra     Erickson
2            3    Kathleen        Walls
3            4       Craig        Blake
4            5      Hakeem       Crosby
5            6     Donovan     Castillo
6            7        Ivor   Strickland
7            8      Alexis      William
8            9     Jenette         Page
9           10       Wylie     Alvarado
10          11      Philip       Walter
11          12       Kalia       Ashley
12          13       Nolan      Meadows
13          14       Aidan      Stanley
14          15         Ina     Bradshaw
15          16    Garrison       Jensen
16          17        Joel       Porter
17          18    Fletcher       Slater
18          19        Maia       Mullen
19          20     Isadora       Coffey
20          21      Nicole         Shaw
21          22    Mohammad      England
22          23      Galvin     Sheppard
23          24     Raymond    Henderson
24          25       Rinah      Charles
25          26       Flynn        Baird
26          27       Yoshi        Sweet
27          28    Jermaine       Slater
28          29      Xander        Ewing
29          30      Hayley       Baxter
..         ...         ...          ...
20          21      Lucian     Chandler
21          22     Jameson         Tran
22          23       Aimee          Ray
23          24      Sybill       Fuller
24          25       Audra        Byers
25          26      Travis      Wiggins
26          27       Stacy  Fitzpatrick
27          28        Cain       Henson
28          29       Jerry   Montgomery
29          30       Janna        Munoz
30          31    Victoria       Sharpe
31          32       Libby      Roberts
32          33     Germane    Cleveland
33          34        Gary        James
34          35        Lynn       Snider
35          36       Kuame         Ryan
36          37   Kimberley        Garza
37          38        Troy         Rush
38          39        Amos       Sexton
39          40       Jacob       Briggs
40          41     Felicia        Hodge
41          42     Madonna       Patton
42          43     Richard         Wood
43          44      Nathan      Stewart
44          45      Kieran     Buchanan
45          46      Victor        Brady
46          47        Coby     Petersen
47          48  Jacqueline       Levine
48          49     Anthony       Conley
49          50        Irma      England

[100 rows x 3 columns]

In [45]:
pd.concat([engg, science], axis=1)

    student_id   first_name    last_name  student_id  first_name    last_name
0            1        Daryl       Holder           1       Yoshi    Rodriguez
1            2        Debra     Erickson           2         Len        Ortiz
2            3     Kathleen        Walls           3   Valentine       Mooney
3            4        Craig        Blake           4       Imani     Petersen
4            5       Hakeem       Crosby           5      Violet       Norton
5            6      Donovan     Castillo           6      Graham     Chambers
6            7         Ivor   Strickland           7        Lois     Rutledge
7            8       Alexis      William           8        Cara       Rivers
8            9      Jenette         Page           9       Eagan        Myers
9           10        Wylie     Alvarado          10       Hilda      Shaffer
10          11       Philip       Walter          11      Martin       Dorsey
11          12        Kalia       Ashley          12    Marshall       Crosby
12          13        Nolan      Meadows          13      Odette       Valdez
13          14        Aidan      Stanley          14     Jenette       Austin
14          15          Ina     Bradshaw          15       Lewis     Holloway
15          16     Garrison       Jensen          16     Vaughan      Randall
16          17         Joel       Porter          17      Lesley    Nicholson
17          18     Fletcher       Slater          18      Mariko      Navarro
18          19         Maia       Mullen          19         Jin       Harper
19          20      Isadora       Coffey          20    Driscoll       Henson
20          21       Nicole         Shaw          21      Lucian     Chandler
21          22     Mohammad      England          22     Jameson         Tran
22          23       Galvin     Sheppard          23       Aimee          Ray
23          24      Raymond    Henderson          24      Sybill       Fuller
24          25        Rinah      Charles          25       Audra        Byers
25          26        Flynn        Baird          26      Travis      Wiggins
26          27        Yoshi        Sweet          27       Stacy  Fitzpatrick
27          28     Jermaine       Slater          28        Cain       Henson
28          29       Xander        Ewing          29       Jerry   Montgomery
29          30       Hayley       Baxter          30       Janna        Munoz
30          31       Duncan     Figueroa          31    Victoria       Sharpe
31          32        Brent      Solomon          32       Libby      Roberts
32          33        Ralph        Solis          33     Germane    Cleveland
33          34       Reuben       Prince          34        Gary        James
34          35       Cooper       Cotton          35        Lynn       Snider
35          36       Miriam      Flowers          36       Kuame         Ryan
36          37        Unity      Pollard          37   Kimberley        Garza
37          38      Leonard        Baird          38        Troy         Rush
38          39       Ariana      Fleming          39        Amos       Sexton
39          40       Flavia       Golden          40       Jacob       Briggs
40          41     Lysandra        Cline          41     Felicia        Hodge
41          42    Aphrodite  Fitzpatrick          42     Madonna       Patton
42          43        Brody        James          43     Richard         Wood
43          44        Diana      Mcclain          44      Nathan      Stewart
44          45         Tate        Davis          45      Kieran     Buchanan
45          46        Amena        Rivas          46      Victor        Brady
46          47       Jolene        Small          47        Coby     Petersen
47          48        Blake      Rosario          48  Jacqueline       Levine
48          49       Ferris     Humphrey          49     Anthony       Conley
49          50  Buckminster        Sloan          50        Irma      England

In [13]:
pd.concat([engg, science], ignore_index=True)

    first_name    last_name
0        Daryl       Holder
1        Debra     Erickson
2     Kathleen        Walls
3        Craig        Blake
4       Hakeem       Crosby
5      Donovan     Castillo
6         Ivor   Strickland
7       Alexis      William
8      Jenette         Page
9        Wylie     Alvarado
10      Philip       Walter
11       Kalia       Ashley
12       Nolan      Meadows
13       Aidan      Stanley
14         Ina     Bradshaw
15    Garrison       Jensen
16        Joel       Porter
17    Fletcher       Slater
18        Maia       Mullen
19     Isadora       Coffey
20      Nicole         Shaw
21    Mohammad      England
22      Galvin     Sheppard
23     Raymond    Henderson
24       Rinah      Charles
25       Flynn        Baird
26       Yoshi        Sweet
27    Jermaine       Slater
28      Xander        Ewing
29      Hayley       Baxter
..         ...          ...
70      Lucian     Chandler
71     Jameson         Tran
72       Aimee          Ray
73      Sybill       Fuller
74       Audra        Byers
75      Travis      Wiggins
76       Stacy  Fitzpatrick
77        Cain       Henson
78       Jerry   Montgomery
79       Janna        Munoz
80    Victoria       Sharpe
81       Libby      Roberts
82     Germane    Cleveland
83        Gary        James
84        Lynn       Snider
85       Kuame         Ryan
86   Kimberley        Garza
87        Troy         Rush
88        Amos       Sexton
89       Jacob       Briggs
90     Felicia        Hodge
91     Madonna       Patton
92     Richard         Wood
93      Nathan      Stewart
94      Kieran     Buchanan
95      Victor        Brady
96        Coby     Petersen
97  Jacqueline       Levine
98     Anthony       Conley
99        Irma      England

[100 rows x 2 columns]

In [21]:
pd.concat([engg, science], keys=['Engineering','Science'])

                        first_name    last_name
            student_id
Engineering 1                Daryl       Holder
            2                Debra     Erickson
            3             Kathleen        Walls
            4                Craig        Blake
            5               Hakeem       Crosby
            6              Donovan     Castillo
            7                 Ivor   Strickland
            8               Alexis      William
            9              Jenette         Page
            10               Wylie     Alvarado
            11              Philip       Walter
            12               Kalia       Ashley
            13               Nolan      Meadows
            14               Aidan      Stanley
            15                 Ina     Bradshaw
            16            Garrison       Jensen
            17                Joel       Porter
            18            Fletcher       Slater
            19                Maia       Mullen
            20             Isadora       Coffey
            21              Nicole         Shaw
            22            Mohammad      England
            23              Galvin     Sheppard
            24             Raymond    Henderson
            25               Rinah      Charles
            26               Flynn        Baird
            27               Yoshi        Sweet
            28            Jermaine       Slater
            29              Xander        Ewing
            30              Hayley       Baxter
...                            ...          ...
Science     21              Lucian     Chandler
            22             Jameson         Tran
            23               Aimee          Ray
            24              Sybill       Fuller
            25               Audra        Byers
            26              Travis      Wiggins
            27               Stacy  Fitzpatrick
            28                Cain       Henson
            29               Jerry   Montgomery
            30               Janna        Munoz
            31            Victoria       Sharpe
            32               Libby      Roberts
            33             Germane    Cleveland
            34                Gary        James
            35                Lynn       Snider
            36               Kuame         Ryan
            37           Kimberley        Garza
            38                Troy         Rush
            39                Amos       Sexton
            40               Jacob       Briggs
            41             Felicia        Hodge
            42             Madonna       Patton
            43             Richard         Wood
            44              Nathan      Stewart
            45              Kieran     Buchanan
            46              Victor        Brady
            47                Coby     Petersen
            48          Jacqueline       Levine
            49             Anthony       Conley
            50                Irma      England

[100 rows x 2 columns]

In [25]:
engg.append(science, ignore_index=True)

    first_name    last_name
0        Daryl       Holder
1        Debra     Erickson
2     Kathleen        Walls
3        Craig        Blake
4       Hakeem       Crosby
5      Donovan     Castillo
6         Ivor   Strickland
7       Alexis      William
8      Jenette         Page
9        Wylie     Alvarado
10      Philip       Walter
11       Kalia       Ashley
12       Nolan      Meadows
13       Aidan      Stanley
14         Ina     Bradshaw
15    Garrison       Jensen
16        Joel       Porter
17    Fletcher       Slater
18        Maia       Mullen
19     Isadora       Coffey
20      Nicole         Shaw
21    Mohammad      England
22      Galvin     Sheppard
23     Raymond    Henderson
24       Rinah      Charles
25       Flynn        Baird
26       Yoshi        Sweet
27    Jermaine       Slater
28      Xander        Ewing
29      Hayley       Baxter
..         ...          ...
70      Lucian     Chandler
71     Jameson         Tran
72       Aimee          Ray
73      Sybill       Fuller
74       Audra        Byers
75      Travis      Wiggins
76       Stacy  Fitzpatrick
77        Cain       Henson
78       Jerry   Montgomery
79       Janna        Munoz
80    Victoria       Sharpe
81       Libby      Roberts
82     Germane    Cleveland
83        Gary        James
84        Lynn       Snider
85       Kuame         Ryan
86   Kimberley        Garza
87        Troy         Rush
88        Amos       Sexton
89       Jacob       Briggs
90     Felicia        Hodge
91     Madonna       Patton
92     Richard         Wood
93      Nathan      Stewart
94      Kieran     Buchanan
95      Victor        Brady
96        Coby     Petersen
97  Jacqueline       Levine
98     Anthony       Conley
99        Irma      England

[100 rows x 2 columns]

In [38]:
engg.merge(science, how='inner', on='student_id', suffixes=['_engg','_science'])

,student_id,first_name_engg,last_name_engg,first_name_science,last_name_science
0,1,Daryl,Holder,Yoshi,Rodriguez
1,2,Debra,Erickson,Len,Ortiz
2,3,Kathleen,Walls,Valentine,Mooney
3,4,Craig,Blake,Imani,Petersen
4,5,Hakeem,Crosby,Violet,Norton
5,6,Donovan,Castillo,Graham,Chambers
6,7,Ivor,Strickland,Lois,Rutledge
7,8,Alexis,William,Cara,Rivers
8,9,Jenette,Page,Eagan,Myers
9,10,Wylie,Alvarado,Hilda,Shaffer
10,11,Philip,Walter,Martin,Dorsey
11,12,Kalia,Ashley,Marshall,Crosby
12,13,Nolan,Meadows,Odette,Valdez
13,14,Aidan,Stanley,Jenette,Austin
14,15,Ina,Bradshaw,Lewis,Holloway
15,16,Garrison,Jensen,Vaughan,Randall
16,17,Joel,Porter,Lesley,Nicholson
17,18,Fletcher,Slater,Mariko,Navarro
18,19,Maia,Mullen,Jin,Harper
19,20,Isadora,Coffey,Driscoll,Henson
20,21,Nicole,Shaw,Lucian,Chandler
21,22,Mohammad,England,Jameson,Tran
22,23,Galvin,Sheppard,Aimee,Ray
23,24,Raymond,Henderson,Sybill,Fuller
24,25,Rinah,Charles,Audra,Byers
25,26,Flynn,Baird,Travis,Wiggins
26,27,Yoshi,Sweet,Stacy,Fitzpatrick
27,28,Jermaine,Slater,Cain,Henson
28,29,Xander,Ewing,Jerry,Montgomery
29,30,Hayley,Baxter,Janna,Munoz
30,31,Duncan,Figueroa,Victoria,Sharpe
31,32,Brent,Solomon,Libby,Roberts
32,33,Ralph,Solis,Germane,Cleveland
33,34,Reuben,Prince,Gary,James
34,35,Cooper,Cotton,Lynn,Snider
35,36,Miriam,Flowers,Kuame,Ryan
36,37,Unity,Pollard,Kimberley,Garza
37,38,Leonard,Baird,Troy,Rush
38,39,Ariana,Fleming,Amos,Sexton
39,40,Flavia,Golden,Jacob,Briggs
40,41,Lysandra,Cline,Felicia,Hodge
41,42,Aphrodite,Fitzpatrick,Madonna,Patton
42,43,Brody,James,Richard,Wood
43,44,Diana,Mcclain,Nathan,Stewart
44,45,Tate,Davis,Kieran,Buchanan
45,46,Amena,Rivas,Victor,Brady
46,47,Jolene,Small,Coby,Petersen
47,48,Blake,Rosario,Jacqueline,Levine
48,49,Ferris,Humphrey,Anthony,Conley
49,50,Buckminster,Sloan,Irma,England

In [40]:
student_exam.merge(engg, on='student_id')

    student_id  exam_id first_name    last_name
0            8        7     Alexis      William
1            8        5     Alexis      William
2           17        1       Joel       Porter
3           17        9       Joel       Porter
4           33        1      Ralph        Solis
5           45        4       Tate        Davis
6            3        5   Kathleen        Walls
7            3        3   Kathleen        Walls
8            3        2   Kathleen        Walls
9           12        8      Kalia       Ashley
10          12        5      Kalia       Ashley
11          12        1      Kalia       Ashley
12          22        8   Mohammad      England
13          48        1      Blake      Rosario
14          48        1      Blake      Rosario
15          48        4      Blake      Rosario
16           6        4    Donovan     Castillo
17           6        7    Donovan     Castillo
18           6        9    Donovan     Castillo
19           6        3    Donovan     Castillo
20           6        6    Donovan     Castillo
21          30        8     Hayley       Baxter
22          30        8     Hayley       Baxter
23          43        7      Brody        James
24          43        3      Brody        James
25          43        5      Brody        James
26          43        5      Brody        James
27          43        8      Brody        James
28          43        7      Brody        James
29          43        5      Brody        James
..         ...      ...        ...          ...
70          36        6     Miriam      Flowers
71          36        5     Miriam      Flowers
72          36        5     Miriam      Flowers
73           4        4      Craig        Blake
74           4        5      Craig        Blake
75           4        1      Craig        Blake
76           4        7      Craig        Blake
77          25        4      Rinah      Charles
78          25        6      Rinah      Charles
79          37        2      Unity      Pollard
80          37        5      Unity      Pollard
81          27        9      Yoshi        Sweet
82          27        8      Yoshi        Sweet
83          27        4      Yoshi        Sweet
84          27        2      Yoshi        Sweet
85          27        5      Yoshi        Sweet
86          18        9   Fletcher       Slater
87          18        7   Fletcher       Slater
88          14        7      Aidan      Stanley
89          14        5      Aidan      Stanley
90          14        8      Aidan      Stanley
91          28        8   Jermaine       Slater
92          28        3   Jermaine       Slater
93          19        3       Maia       Mullen
94           2        1      Debra     Erickson
95          39        2     Ariana      Fleming
96          39        2     Ariana      Fleming
97          32        3      Brent      Solomon
98          23        3     Galvin     Sheppard
99          42        1  Aphrodite  Fitzpatrick

[100 rows x 4 columns]

In [47]:
student_exam.merge(exam, on='exam_id')

    student_id  exam_id           exam_name  exam_hall
0            8        7  Electrical Science        107
1           43        7  Electrical Science        107
2           46        7  Electrical Science        107
3           49        7  Electrical Science        107
4            6        7  Electrical Science        107
5           43        7  Electrical Science        107
6           14        7  Electrical Science        107
7           46        7  Electrical Science        107
8            4        7  Electrical Science        107
9           18        7  Electrical Science        107
10          17        1         Mathematics        101
11          33        1         Mathematics        101
12          48        1         Mathematics        101
13          12        1         Mathematics        101
14          29        1         Mathematics        101
15           7        1         Mathematics        101
16          48        1         Mathematics        101
17           2        1         Mathematics        101
18           4        1         Mathematics        101
19          24        1         Mathematics        101
20          50        1         Mathematics        101
21          42        1         Mathematics        101
22          45        4          Psychology        104
23           6        4          Psychology        104
24           7        4          Psychology        104
25           7        4          Psychology        104
26           4        4          Psychology        104
27          25        4          Psychology        104
28          48        4          Psychology        104
29          24        4          Psychology        104
..         ...      ...                 ...        ...
70          29        9               Music        109
71           3        3           Chemistry        103
72          16        3           Chemistry        103
73          43        3           Chemistry        103
74          21        3           Chemistry        103
75          35        3           Chemistry        103
76           1        3           Chemistry        103
77          41        3           Chemistry        103
78          50        3           Chemistry        103
79          19        3           Chemistry        103
80           6        3           Chemistry        103
81          41        3           Chemistry        103
82          28        3           Chemistry        103
83          15        3           Chemistry        103
84          32        3           Chemistry        103
85          23        3           Chemistry        103
86           3        2             Physics        102
87          24        2             Physics        102
88          37        2             Physics        102
89          39        2             Physics        102
90          39        2             Physics        102
91          27        2             Physics        102
92          34        6            Humanity        106
93           9        6            Humanity        106
94          13        6            Humanity        106
95          29        6            Humanity        106
96           5        6            Humanity        106
97          36        6            Humanity        106
98          25        6            Humanity        106
99           6        6            Humanity        106

[100 rows x 4 columns]